# Untracked files
wp-config.php
.sass-cache
node_modules
wp-content/uploads
wp-content/plugins
.htaccess
src/scss/.sass-cache
/projects
/music
BingSiteAuth.xml
google1f541020b637f0c5.html
/wp-content/cache
googlefc2cbdc35a7ff9f8.html
