@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
h1,
h2,
h3,
h4,
h5,
label,
.article-excerpt h1 a,
.links a {
	font-family: 'Press Start 2P', monospace !important;
	color: #FCB42A !important;
}

a:hover {
	background: transparent !important;
}

article a {
	text-shadow: none;
	background: transparent;
	color: #708EFC;
}

article a:hover,
article a:focus,
article a:active {
	background: transparent;
	color: #708EFC;
	text-decoration: underline;
}

time {
	font-family: 'Press Start 2P', monospace !important;
	color: #708EFC;
}

.comment-author a, .comment-author cite.fn {
	color: white;
}

.lead {
	-webkit-font-smoothing: subpixel-antialiased;
}

.lead a {
	color: #708EFC;
	text-shadow: none;
}

.lead a:hover {
	color: #708EFC;
}

.single h1 {
	font-size: 24px !important;
	margin-bottom: 15px;
}

.comment-author a:active, .comment-author a:focus, .comment-author a:hover, .comment-author cite.fn:active, .comment-author cite.fn:focus, .comment-author cite.fn:hover, time:hover {
	background: transparent !important;
}

h1 {
	font-size: 24px !important;
}

h2 {
	font-size: 16px !important;
}

h3 {
	font-size: 16px !important;
}

h4 {
	font-size: 16px !important;
}

body {
	font-family: Courier New, monospace;
	font-weight: 600;
	background: #121212 !important;
	color: #fff !important;
}

.main-content.portfolio-page {
	background: #121212 !important;
}

.comment-author cite.fn,
p,
ul,
ol {
	font-size: 16px !important;
	color: white !important;
	font-family: Courier New, monospace !important;
}

code,
pre,
pre code,
code[class*=language-],
pre[class*=language-],
pre code {
	font-family: Courier New, monospace !important;
	font-weight: 400 !important;
	-webkit-font-smoothing: subpixel-antialiased;
	border-radius: 0 !important;
}

code[class*=language-],
pre[class*=language-],
pre code {
	background: #191919;
	font-size: 16px !important;
	font-weight: 400 !important;
	border-radius: 0 !important;
}

blockquote {
	font-family: 'Press Start 2P', monospace !important;
	border-radius: 0 !important;
	background: #121212 !important;
	color: white !important;
	font-size: 16px !important;
}

blockquote p {
	font-family: 'Press Start 2P', monospace !important;
	font-size: 16px !important;
}

h1 {
	margin-bottom: 15px !important;
}

.single,
.navigation,
.navigation a,
.footer,
.banner,
.content {
	background: #121212 !important;
}

.navigation a {
	font-family: 'Press Start 2P', monospace !important;
	font-size: 14px !important;
	color: white !important;
}

.navigation a:hover {
	color: #e43557 !important;
}

.article-excerpt {
	border-bottom: 0 !important;
}

:not(pre)>code {
	color: #e43557 !important;
}

.comment-meta a {
	color: #e43557 !important;
	font-family: Courier New, monospace !important;
}

.comment-reply-link {
	color: white;
	background: #708EFC !important;
	border: 1px solid #708EFC !important;
}

.comment-reply-link:hover {
	background: transparent !important;
	border: 1px solid #708EFC !important;
	color: #708EFC !important;
}

@media (min-width: 600px) {
	.nav-container {
		max-width: 780px !important;
	}
}

.button,
.buttons,
.comment-reply-link,
.posts-links a,
a.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	font-family: Courier New, monospace !important;
	background: #708EFC;
	border: 1px solid #708EFC;
}

a {
	color: #708EFC;
}

.tags a {
	color: #e43557 !important;
}

.page,
.single {
	background: transparent !important;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	background: transparent !important;
	color: white !important;
	font-family: Courier New, monospace !important;
	border: 1px solid #708EFC !important;
	border-radius: 0 !important;
}

tbody tr:nth-child(odd) td {
	background: #000;
}

:not(pre)>code {
	padding: 0;
}

a .article-excerpt {
	color: white;
}

.four-oh-four {
	background: #121212;
}

.landing-page .landing-content {
	background: #121212;
}