@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
html {}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Press Start 2P', monospace;
	color: #FCB42A !important;
}

time {
	font-family: 'Press Start 2P', monospace;
	color: white;
}

.single h1 {
	font-size: 40px !important;
}

h1 {
	font-size: 32px !important;
}

h2 {
	font-size: 32px !important;
}

h3 {
	font-size: 24px !important;
}

h4 {
	font-size: 16px !important;
}

body {
	font-family: Courier New, monospace;
	font-weight: 600;
	background: #010101 !important;
	color: #fff !important;
}

code,
pre,
pre code,
code[class*=language-],
pre[class*=language-],
pre code {
	font-family: Courier New, monospace !important;
	font-weight: 600 !important;
	-webkit-font-smoothing: antialiased;
}

code[class*=language-],
pre[class*=language-],
pre code {
	background: #191919;
	font-size: 1rem;
}

.single,
.navigation,
.navigation a,
.footer {
	background: #010101 !important;
}

.navigation a {
	border-bottom: 2px solid #708EFC !important;
	font-family: 'Press Start 2P', monospace !important;
	color: white;
}

.navigation a:hover,
:not(pre)>code {
	color: #FF2155 !important;
}

.navigation {
	border-bottom: 2px solid #708EFC;
}

@media (min-width: 600px) {
	.nav-container {
		max-width: 1000px;
	}
	.navigation a {
		width: auto;
	}
}

a {
	color: #708EFC;
}

a:hover,
a:focus,
a:active {
	color: #00FF00;
}

:not(pre)>code {
	padding: 0;
}

a .article-excerpt {
	color: white;
}

.token.doctype {
	background: #000;
	color: #fff
}

.token.cdata,
.token.comment,
.token.prolog {
	color: #a9a9a9
}

.token.namespace {
	opacity: .7
}

.token.attr-value,
.token.string {
	color: #00FF00
}

.token.punctuation {
	color: white
}

.token.operator {
	color: #FCB42A
}

.token.variable {
	color: #FF2155
}

.token.property {
	color: #d5d5d5
}

.token.boolean,
.token.constant,
.token.entity,
.token.inserted,
.token.number,
.token.regex,
.token.symbol,
.token.url {
	color: #fca369
}

.token.delimiter {
	background: #000;
	color: #fff;
	padding: 1px 2px
}

.token.atrule {
	color: #76d4d6
}

.token.keyword {
	color: #F7F461
}

.language-autohotkey .token.selector {
	color: #FCB42A
}

.token.attr-name {
	color: #F7F461
}

.token.function {
	color: #76d4d6
}

.language-php .token.function {
	color: #fff
}

.token.class-name {
	color: #FFB8DE
}

.language-autohotkey .token.tag,
.token.deleted {
	color: #FCB42A
}

.token.tag {
	color: #708EFC
}

.language-autohotkey .token.keyword {
	color: #ffeead
}

.token.selector {
	color: #FCB42A
}

.token.italic {
	font-style: italic
}