@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
html {}

h1,
h2,
h3,
h4,
h5,
label {
	font-family: 'Press Start 2P', monospace !important;
	color: #FCB42A !important;
}

time {
	font-family: 'Press Start 2P', monospace !important;
	color: #2467DB;
}

.single h1 {
	font-size: 24px !important;
	margin-bottom: 15px;
}

h1 {
	font-size: 24px !important;
}

h2 {
	font-size: 16px !important;
}

h3 {
	font-size: 16px !important;
}

h4 {
	font-size: 16px !important;
}

body {
	font-family: Courier New, monospace;
	font-weight: 600;
	background: #121212 !important;
	color: #fff !important;
}

.main-content.portfolio-page {
	background: #121212 !important;
}

.comment-author a,
.comment-author cite.fn,
p,
ul,
ol {
	font-size: 16px !important;
	color: white !important;
	font-family: Courier New, monospace !important;
}

code,
pre,
pre code,
code[class*=language-],
pre[class*=language-],
pre code {
	font-family: Courier New, monospace !important;
	font-weight: 400 !important;
	-webkit-font-smoothing: subpixel-antialiased;
	border-radius: 0 !important;
}

code[class*=language-],
pre[class*=language-],
pre code {
	background: #191919;
	font-size: 16px !important;
	font-weight: 400 !important;
	border-radius: 0 !important;
}

blockquote {
	font-family: 'Press Start 2P', monospace !important;
	border-radius: 0 !important;
	background: #121212 !important;
	color: white !important;
	font-size: 16px !important;
}

blockquote p {
	font-family: 'Press Start 2P', monospace !important;
	font-size: 16px !important;
}

h1 {
	margin-bottom: 15px !important;
}

.single,
.navigation,
.navigation a,
.footer,
.banner,
.content {
	background: #121212 !important;
}

.navigation a {
	font-family: 'Press Start 2P', monospace !important;
	font-size: 14px !important;
	color: white !important;
}

.latest-articles a.article-link {
	color: #fff;
	background: #121212 !important;
	border: 1px solid #2467DB;
}

.article-excerpt {
	border-bottom: 0 !important;
}

.latest-articles a.article-link:hover,
a.article-link:hover,
a .article-excerpt:hover {
	background: #121212 !important;
}

.navigation a:hover,
:not(pre)>code {
	color: #FF2155 !important;
	border-radius: 0 !important;
	border-bottom: 1px solid #2467DB !important;
}

.comment-meta a {
	color: #FF2155 !important;
	font-family: Courier New, monospace !important;
}

.comment-reply-link {
	background: #2467DB !important;
	border: 1px solid #2467DB !important;
}

.comment-reply-link:hover {
	background: transparent !important;
	border: 1px solid #2467DB !important;
	color: #2467DB !important;
}


/* .navigation {
	border-bottom: 2px solid #2467DB;
} */

@media (min-width: 600px) {
	.nav-container {
		max-width: 1000px !important;
	}
}

.button,
.buttons,
.comment-reply-link,
.posts-links a,
a.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	font-family: Courier New, monospace !important;
}

a {
	color: #2467DB;
}

a:hover,
a:focus,
a:active {
	color: #FF2155 !important;
}

.tags a {
	color: #FF2155 !important;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	background: transparent !important;
	color: white !important;
	font-family: Courier New, monospace !important;
	border: 1px solid #2467DB !important;
	border-radius: 0 !important;
}

:not(pre)>code {
	padding: 0;
}

a .article-excerpt {
	color: white;
}

/* .token.doctype {
	background: #000;
	color: #fff
}

.token.cdata,
.token.comment,
.token.prolog {
	color: #a9a9a9
}

.token.namespace {
	opacity: .7
}

.token.attr-value,
.token.string {
	color: #00FF00
}

.token.punctuation {
	color: white
}

.token.operator {
	color: #FCB42A
}

.token.variable {
	color: #FF2155
}

.token.property {
	color: #d5d5d5
}

.token.boolean,
.token.constant,
.token.entity,
.token.inserted,
.token.number,
.token.regex,
.token.symbol,
.token.url {
	color: #fca369
}

.token.delimiter {
	background: #000;
	color: #fff;
	padding: 1px 2px
}

.token.atrule {
	color: #76d4d6
}

.token.keyword {
	color: #F7F461
}

.language-autohotkey .token.selector {
	color: #FCB42A
}

.token.attr-name {
	color: #F7F461
}

.token.function {
	color: #76d4d6
}

.language-php .token.function {
	color: #fff
}

.token.class-name {
	color: #FFB8DE
}

.language-autohotkey .token.tag,
.token.deleted {
	color: #FCB42A
}

.token.tag {
	color: #2467DB
}

.language-autohotkey .token.keyword {
	color: #ffeead
}

.token.selector {
	color: #FCB42A
}

.token.italic {
	font-style: italic
} */