body,
.children {
  background: #292929;
  color: #848991;
}

h1,
h2,
h3,
h4,
h5,
.comment-reply-title,
.comments-title {
  color: #b3b9c5;
}

h1 {
  color: #b3b9c5;
}

a.button,
[type=button],
[type=submit],
.view-all {
  color: #ffffff !important;
  background: #4a7baa;
  border: 1px solid #4a7baa;
}

a.button:hover,
[type=button]:hover,
[type=submit]:hover,
.view-all:hover {
  background: #6ab0f3;
  border: 1px solid #6ab0f3;
}

.yellow-button,
a.yellow-button {
  background: #ffd479;
  border: 1px solid #ffd479;
  color: #111 !important;
}

.yellow-button:hover,
a.yellow-button:hover,
.yellow-button:active,
a.yellow-button:active,
.yellow-button:focus,
a.yellow-button:focus {
  background: #ffeea6;
  border: 1px solid #ffeea6;
}

a {
  color: #ffd479;
}

a:hover,
a:active,
a:focus {
  color: #ffeea6;
}

pre {
  color: #f9f9f9;
}

.date,
.post-date,
.post-description,
.footer,
.comment-meta a,
.comment-reply-link,
.token.cdata,
.token.comment,
.token.prolog {
  color: #777c85;
}

input::-webkit-input-placeholder,
input::placeholder {
  color: #474a4f !important;
}

.post,
#comments .comment {
  border-bottom: 2px solid #202020;
}

.post:hover {
  background: #202020 !important;
}

.terminal {
  background: #202020;
  color: #eee;
  border: 1px solid #202020;
}

.terminal:before {
  background: #444444;
  color: #202020;
}

.footer strong,
.comment-reply-link:hover,
.buy {
  color: #b3b9c5;
}

.buy,
.yellow {
  color: #ffd479;
}

.post-title,
.comment-author a,
.comment-author cite.fn {
  color: #e2c891 !important;
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
.newsletter-form [type=email],
.newsletter-form [type=text],
.search-form [type="search"],
select,
textarea {
  background: #202020;
  border: 1px solid #202020;
  color: #b3b9c5;
}

[type=color]:hover,
[type=date]:hover,
[type=datetime-local]:hover,
[type=datetime]:hover,
[type=email]:hover,
[type=month]:hover,
[type=number]:hover,
[type=password]:hover,
[type=search]:hover,
[type=tel]:hover,
[type=text]:hover,
[type=time]:hover,
[type=url]:hover,
[type=week]:hover,
.newsletter-form [type=email]:hover,
.newsletter-form [type=text]:hover,
.search-form [type="search"]:hover,
select:hover,
textarea:hover {
  background: #202020;
  border: 1px solid #202020;
  color: #b3b9c5;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=datetime]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
select:focus,
textarea:focus,
[type=color]:active,
[type=date]:active,
[type=datetime-local]:active,
[type=datetime]:active,
[type=email]:active,
[type=month]:active,
[type=number]:active,
[type=password]:active,
[type=search]:active,
[type=tel]:active,
[type=text]:active,
[type=time]:active,
[type=url]:active,
[type=week]:active,
.newsletter-form [type=email]:focus,
.newsletter-form [type=text]:focus,
.search-form [type="search"]:focus,
.search-form [type="search"]:active,
.search-form [type="search"]:focus,
select:active,
textarea:active {
  color: #b3b9c5;
  background: #242424;
  border: 1px solid #1d1d1d;
  box-shadow: none;
}

tbody tr:nth-child(even) {
  background-color: #383838;
}

th {
  border-bottom: 2px solid #202020;
}

td {
  border-bottom: 1px solid #202020;
}

:not(pre) > code {
  color: #fff;
}

.newsletter-form [type="text"]:hover,
.newsletter-form [type="email"]:hover,
.newsletter-form [type="text"]:focus,
.newsletter-form [type="email"]:focus {
  background: #202020;
}

blockquote {
  border-color: #202020 !important;
  color: #777c85 !important;
}

blockquote.alert,
blockquote.info,
blockquote.note,
blockquote.details,
blockquote.success {
  background: #262626;
}

blockquote cite {
  color: rgba(255, 255, 255, .7);
}

.nav {
  background: #202020 !important;
  border-bottom: 2px solid #202020;
}

.newsletter,
.author {
  background: #202020 !important;
}

.nav .nav-container .brand a {
  color: #b3b9c5;
}

.nav .buy {
  color: #b3b9c5;
}

.nav .nav-container a:hover,
.nav .nav-container a:active {
  background: #292929 !important;
  color: #b3b9c5 !important;
}

.nav .nav-container a {
  color: #777c85;
}

.brand {
  color: #b3b9c5 !important;
}

.brand a:hover,
.brand a:active {
  color: #b3b9c5 !important;
}

.bypostauthor {
  background: #202020;
  border-left: 12px solid #b8a249;
  padding: 0 1.5rem;
}

.tab-container .tab {
  background: #202020;
  color: #e1a6f2;
}

.tab-container .tab:hover {
  background: #202020;
}

:not(pre) > code {
  background: rgba(0, 0, 0, .2);
}

::selection {
  background: #4a7baa;
  color: #fff;
}
