body,
.children {
	background: #2D2D2D;
	color: #D2D0C9;
}

h1,
h2,
h3,
h4,
h5,
.comment-reply-title,
.comments-title {
	color: #D2D0C9;
}

h1 {
	color: #D2D0C9;
}

a.button,
[type=button],
[type=submit],
.view-all {
	color: #ffffff !important;
	background: #6088ab;
	border: 1px solid #6088ab;
}

a.button:hover,
[type=button]:hover,
[type=submit]:hover,
.view-all:hover {
	background: #486680;
	border: 1px solid #486680;
}

.yellow-button, a.yellow-button {
	background: #FFD479;
	border: 1px solid #FFD479;
	color: #111 !important;
}

.yellow-button:hover, a.yellow-button:hover,
.yellow-button:active, a.yellow-button:active,
.yellow-button:focus, a.yellow-button:focus {
	background: #cca960;
	border: 1px solid #cca960;
}

a {
	color: #FFD479;
}

a:hover,
a:active,
a:focus {
	color: #cca960;
}

pre {
	color: #f9f9f9;
}

.date,
.post-date,
.post-description,
.footer,
.comment-meta a,
.comment-reply-link,
.token.cdata,
.token.comment,
.token.prolog,
input[type="search"]::-webkit-input-placeholder,
input[type="search"]::placeholder {
	color: #8a8a80;
}


.post,
#comments .comment {
	border-bottom: 2px solid #262626;
}

.post:hover {
	background: #262626 !important;
}

.terminal {
	background: #202020;
	color: #eee;
	border: 1px solid #262626;
}

.terminal:before {
	background: #262626;
	color: #1d1d1d;
}

.footer strong,
.comment-reply-link:hover,
.buy {
	color: #D2D0C9;
}

.buy .yellow {
	color: #FFD479;
}

.post-title,
.comment-author a,
.comment-author cite.fn {
	color: #E2C891 !important;
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
	background: #262626;
	border: 1px solid #262626;
	color: #D2D0C9;
}

[type=color]:hover,
[type=date]:hover,
[type=datetime-local]:hover,
[type=datetime]:hover,
[type=email]:hover,
[type=month]:hover,
[type=number]:hover,
[type=password]:hover,
[type=search]:hover,
[type=tel]:hover,
[type=text]:hover,
[type=time]:hover,
[type=url]:hover,
[type=week]:hover,
select:hover,
textarea:hover {
	background: #242424;
	border: 1px solid #242424;
}

[type=color]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=datetime]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
select:focus,
textarea:focus,
[type=color]:active,
[type=date]:active,
[type=datetime-local]:active,
[type=datetime]:active,
[type=email]:active,
[type=month]:active,
[type=number]:active,
[type=password]:active,
[type=search]:active,
[type=tel]:active,
[type=text]:active,
[type=time]:active,
[type=url]:active,
[type=week]:active,
select:active,
textarea:active {
	background: #202020;
	border: 1px solid #1d1d1d;
	box-shadow: none;
}

.newsletter-form [type=email],
.newsletter-form [type=text] {
	background: #343434;
	border: 1px solid #343434 !important;
	color: #D2D0C9;
}

.search-form [type="search"] {
	background: #202020;
	color: #8a8a80;
}

.search-form [type="search"]:hover {
	background: #202020;
	color: #D2D0C9;
}

.search-form [type="search"]:active,
.search-form [type="search"]:focus {
	background: #383838;
	color: #D2D0C9;
}

tbody tr:nth-child(even) {
	background-color: #383838;
}

th {
	border-bottom: 2px solid #202020;
}

td {
	border-bottom: 1px solid #202020;
}

:not(pre)>code {
	color: #fff;
}

blockquote {
	border-color:#202020 !important;
	background: #262626 !important;
	color: #8a8a80 !important;
}

.nav {
	background: #262626 !important;
	border-bottom: 2px solid #262626;
}

.newsletter,
.author {
	background: #262626 !important;
}

.nav .nav-container .brand a {
	color: #D2D0C9;
}

.nav .buy {
	color: #D2D0C9;
}

.nav .nav-container a:hover,
.nav .nav-container a:active {
	background: #202020 !important;
	color: #D2D0C9 !important;
}

.nav .nav-container a {
	color: #8a8a80;
}

.brand {
	color: #D2D0C9 !important;
}

.brand a:hover,
.brand a:active {
	color: #D2D0C9 !important;
}

.bypostauthor {
	background: #262626;
	border-left: 12px solid #B8A249;
	padding: 0 1.5rem;
}

.tab-container .tab {
	background: #262626;
	color: #D6ACD6;
}

.tab-container .tab:hover {
	background: #202020;
}