/* Buttons
  =============== */

// Button Extend  
.buttons {
	display: inline-block;
	padding: 8px 20px 6px;
	text-align: center;
	font-size: 1rem;
	line-height: 1.6;
	text-decoration: none !important;
	white-space: nowrap;
	background: $link-color;
	border-radius: 30px;
	border: 1px solid $link-color;
	cursor: pointer;
	font-weight: 600;
	margin: 5px 0;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
	font-family: $button-family;
	color: white;
	text-shadow: none;
}

.buttons-hover {
	color: $link-color;
	background: white;
	border: 1px solid $link-color;
	text-decoration: none;
}

// Button Output
a.button,
.button,
button,
.posts-links a {
	@extend .buttons;
	&:hover,
	&:focus,
	&:active {
		@extend .buttons-hover;
	}
}

// Button Output
a.button.alt-button,
.button.alt-button {
	background: $alt-color;
	border: 1px solid $alt-color;
	&:hover,
	&:focus,
	&:active {
		color: $alt-color;
		background: white;
		border: 1px solid $alt-color;
	}
}

input {
	&[type="submit"],
	&[type="reset"],
	&[type="button"] {
		@extend .buttons;
		&:hover,
		&:focus,
		&:active {
			@extend .buttons-hover;
		}
	}
}

.comment-links a {
	display: inline-block;
	padding: 8px 20px 6px;
	text-align: center;
	font-size: 1rem;
	line-height: 1.6;
	text-decoration: none;
	background: transparent;
	border-radius: 30px;
	border: 1px solid $link-color;
	cursor: pointer;
	font-weight: 600;
	margin: 20px 0 35px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
	font-family: $button-family;
	color: $link-color;
	&:hover,
	&:focus,
	&:active {
		color: white;
		background: $link-color;
		border: 1px solid $link-color;
		text-decoration: none !important;
	}
}

#cancel-comment-reply-link {
	display: inline-block;
	padding: 5px 15px 4px;
	text-align: center;
	font-size: .9rem;
	line-height: 1.6;
	text-decoration: none;
	background: transparent;
	border-radius: 30px;
	border: 1px solid $alt-color;
	cursor: pointer;
	font-weight: 600;
	margin: 10px 0;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
	font-family: $button-family;
	color: $alt-color;
	&:hover,
	&:focus,
	&:active {
		color: white;
		background: $alt-color;
		border: 1px solid $alt-color;
		text-decoration: none !important;
	}
}