/* Buttons
  =============== */

// Button Extend  
.buttons {
	display: inline-block;
	padding: .5rem 1rem;
	text-align: center;
	font-size: .95rem;
	line-height: 1.4;
	text-decoration: none !important;
	background: linear-gradient(-180deg, lighten($link-color, 10%) 0%, $link-color 90%);
	border: 1px solid darken($link-color, 8%);
	border-radius: 6px;
	cursor: pointer;
	font-weight: 600;
	margin: 5px 0;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
	font-family: $button-family;
	color: white;
	text-shadow: none;
	transition: transform .1s ease;
	-webkit-appearance: none;
}

.buttons-hover {
	border: 1px solid darken($link-color, 15%);
	background: linear-gradient(-180deg, $link-color 0%, darken($link-color, 12%) 90%);
	text-decoration: none;
}

// Button Output
[type="submit"],
[type="reset"],
[type="button"],
a.button,
.button,
button,
.posts-links a,
.comment-links a {
	@extend .buttons;
	&:hover,
	&:active {
		@extend .buttons-hover;
	}
	&:focus {
		outline: 0;
		transform: scale(.95);
	} 
}

// Alt button
a.button.alt-button,
.button.alt-button {
	background: linear-gradient(-180deg, lighten($alt-color, 10%) 0%, $alt-color 90%);
	border: 1px solid darken($alt-color, 8%);
	&:hover,
	&:focus,
	&:active {
		color: white;
	border: 1px solid darken($alt-color, 15%);
	background: linear-gradient(-180deg, $alt-color 0%, darken($alt-color, 12%) 90%);
	}
}

// Ghost button
a.button.ghost-button,
.button.ghost-button {
	color: $link-color;
	background: transparent;
	border: 1px solid $link-color;
	&:hover,
	&:focus,
	&:active {
		color: white;
		background: $link-color;
		border: 1px solid $link-color;
	}
}

// Other button
a.button.secondary-button,
.button.secondary-button,
.comment-links a {
	background: linear-gradient(-180deg, #fefefe 0%, #f5f5f5  90%);
	color: $heading-color;
	border: 1px solid darken($border, 2%);
	&:hover,
	&:focus,
	&:active {
		background: linear-gradient(-180deg, #f0f0f0 0%, #eeeeee  90%);
		border: 1px solid darken($border, 10%);
		text-decoration: none;
	}
}
