/* Buttons
  =============== */

// Button Extend  
.buttons {
	display: inline-block;
	padding: .75rem 1.25rem;
	text-align: center;
	font-size: 1.05rem;
	text-decoration: none !important;
	background: $link-color;
	border: 0;
	border-radius: $br;
	cursor: pointer;
	font-weight: 600;
	margin: 0;
	font-family: $button-family;
	color: white;
	text-shadow: none;
	-webkit-appearance: none;
}

.buttons-hover {
	background: darken($link-color, 5%);
	text-decoration: none;
}

// Button Output
[type="submit"],
[type="reset"],
[type="button"],
a.button,
.button,
button {
	@extend .buttons;
	&:hover,
	&:focus {
		outline: 0;
		color: white;
		@extend .buttons-hover;
	}
	&:active {
		outline: 0;
		color: white;
		transform: scale(.95);
		border-bottom: 0 !important;
	}
}

// Alt button
a.button.alt-button,
.button.alt-button {
	color: white;
	background: $alt-color;
	&:hover,
	&:focus {
		background: darken($alt-color, 10%);
		color: white;
	}
	&:active {
		outline: 0;
		transform: scale(.95);
	}
}

// Ghost button
a.button.ghost-button,
.button.ghost-button {
	color: $link-color;
	background: transparent;
	border: 1px solid $link-color;
	&:hover,
	&:focus,
	&:active {
		color: white;
		background: $link-color;
	}
}

// Other button
a.button.secondary-button,
.button.secondary-button {
	background: #F4F5F6;
	color: #333;
	border: 1px solid #E6E7EB;
	&:hover,
	&:focus,
	&:active {
		border: 1px solid darken(#E6E7EB, 10%);
	}
}

// Tag button
a.tag-button,
.tag-button {
	display: inline-block;
	color: lighten($heading-color, 6%);
	padding: .75rem 1rem;
	border-radius: 6px;
	margin: 0;
	border: 1px solid $border;
	background: transparent;
	font-size: 1rem;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background: white;
		border: 1px solid darken($border, 8%);
		color: $heading-color;
	}
}

.non-button {
	font-size: 1rem;
	color: #666;
	font-weight: 600;
	margin-right: .5rem;
	text-transform: uppercase;
}