/* Code
  =============== */

code {
	font-size: .9rem;
}

mark {
	background: #FFEA96;
}

.terminal {
	padding: 1rem;
	font-family: $code;
	border: 1px solid #d8d9da;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
	border-radius: 4px;
	margin-bottom: 2rem;
	font-size: .9rem;
}

pre .terminal {
	font-size: .75rem;
	overflow: auto;
}

code[class*="language-"],
pre[class*="language-"],
pre code {
	color: #D5D5D5;
	font-family: $code;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	font-weight: 400;
	tab-size: 2;
	hyphens: none;
	font-size: .9rem;
	border-radius: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	-webkit-font-smoothing: subpixel-antialiased;
}


/* Code blocks */

pre code {
	display: block;
	font-size: .75rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	overflow: auto;
	border: 0;
	background-color: #242424;
}

@media screen and (min-width: $tablet) {
	pre code {
		padding-top: 2rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
		padding-left: calc(50% - 385px);
	}
}

@include large-breakpoint {
	#comments pre code {
		margin: 2rem 0;
		padding: 1.5rem;
	}
}

// Keyboard input
kbd {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
	color: #333;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .8rem;
	line-height: 1.4;
	margin: 0 .1em;
	padding: .1em .6em;
	text-shadow: 0 1px 0 white;
}


/* Inline code */

:not(pre) > code[class*="language-"] {
	padding: 1px 2px;
	background: #343434;
	border: 0px solid #343434;
	-webkit-font-smoothing: subpixel-antialiased;
}

:not(pre) > code {
	font-size: 1rem;
	padding: 1px 2px;
	background: rgba(0, 0, 0, .04);
	font-family: $code;
	font-weight: 400;
	border-radius: 0;
	color: #E43557;
}

code[class*=language-css],
code[class*=language-scss],
code[class*=language-less],
code[class*=language-sass] {
	color: #CC99CC;
}


/* Syntax Highlighting */

.token.doctype {
	background: #000000;
	color: #fff;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: $comment;
}

.token.namespace {
	opacity: .7;
}

.token.string,
.token.attr-value {
	color: $string;
}

.token.punctuation {
	color: $punctuation;
}

.token.operator {
	color: $operator;
}

.token.variable {
	color: $variable;
}

.token.property {
	color: $property;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.constant,
.token.regex,
.token.inserted {
	color: $number;
}

.token.delimiter {
	background: black;
	color: white;
	padding: 1px 2px;
}

.token.atrule {
	color: $function;
}

.token.keyword {
	color: $keyword;
}

.language-autohotkey .token.selector {
	color: $selector;
}

.token.attr-name {
	color: $attribute;
}

.token.function {
	color: $function;
}

.language-php .token.function {
	color: white;
}

.token.class-name {
	color: $class;
}

.token.deleted,
.language-autohotkey .token.tag {
	color: darken($deleted, 5%);
}

.token.tag {
	color: $tag;
}

.language-autohotkey .token.keyword {
	color: $keyword;
}

.token.selector {
	color: $attribute;
}

.token.italic {
	font-style: italic;
}

pre::-moz-selection,
pre ::-moz-selection,
code::-moz-selection,
code ::-moz-selection {
	text-shadow: none;
	background: rgba(150,150,150,.3) !important;
}

pre::selection,
pre ::selection,
code::selection,
code ::selection {
	text-shadow: none;
	background: rgba(150,150,150,.3) !important;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: rgba(150,150,150,.3) !important;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	text-shadow: none;
	background: rgba(150,150,150,.3) !important;
}