.terminal {
	padding: 1rem 1.5rem;
	font-family: $code;
	border: 1px solid #d8d9da;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
	border-radius: 4px;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: .9rem;
}
pre .terminal {
	font-size: .75rem;
}
code[class*="language-"],
pre[class*="language-"],
pre code {
	color: #D5D5D5;
	font-family: $code;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.6;
	font-weight: 400;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	font-size: .9rem;
	border-radius: 4px;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* Code blocks */

pre code {
	display: block;
	font-size: .75rem;
	padding: 1rem;
	margin: 1.5rem 0;
	overflow: auto;
	border: 0px solid #3B3B3B;
	background-color: #3B3B3B;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
	padding: .2rem;
	padding-top: 1px;
	padding-bottom: 1px;
	background: #efefef;
	border: 0px solid #efefef;
	-webkit-font-smoothing: subpixel-antialiased;
}
:not(pre) > code {
	font-size: 1rem;
	padding: .01rem .2rem;
	background: #efefef;
	font-family: $code;
	font-weight: 400;
	border-radius: 4px;
	color: $font-color;
	-webkit-font-smoothing: subpixel-antialiased;
}
$string: #A8D3A9;
code[class*=language-css],
code[class*=language-scss],
code[class*=language-less],
code[class*=language-sass] {
	color: #CC99CC;
}
.token.doctype {
	background: #000000;
	color: #fff;
}
.token.comment,
.token.prolog,
.token.cdata {
	color: #A9A9A9;
}
.token.namespace {
	opacity: .7;
}
.token.string,
.token.attr-value {
	color: $string;
}
.token.punctuation {
	color: #D5D5D5;
}
.token.operator {
	color: #D5D5D5;
	/* no highlight */
}
.token.variable {
	color: #F78D8C;
}
.token.property {
	color: #D5D5D5;
}
.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.constant,
.token.regex,
.token.inserted {
	color: #FCA369;
}
.token.delimiter {
	background: #000;
	color: #fff;
	padding: 1px 2px;
}
.token.atrule {
	color: #D6ACD6;
}
.token.keyword {
	color: #ffeead;
}
.language-autohotkey .token.selector {
	color: $two;
}
.token.attr-name {
	color: #FFD479;
}
.token.function {
	color: #76D4D6;
}
.token.class-name {
	color: #D6ACD6; 
}
.token.deleted,
.language-autohotkey .token.tag {
	color: darken($three, 5%);
}
.token.tag {
	color: #78AAD6;
}
.language-autohotkey .token.keyword {
	color: #ffeead;
}
.token.selector {
	color: #FFD479;
}
.token.italic {
	font-style: italic;
}
.language-html .token.punctuation {
	color: #78AAD6;
}

mark {
	background: #ffeead;
}
