/* Code
  =============== */

code {
	font-size: 15px;
}

.terminal {
	position: relative;
	padding: 1rem;
	font-family: $code;
	border: 1px solid #d8d9da;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .16);
	border-radius: $br;
	padding-top: 45px;
	margin: 2rem 0;
	font-size: 15px;
	&::before {
		content: '\2022 \2022 \2022';
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		background: #E1E1E1;
		color: #c2c3c4;
		width: 100%;
		font-size: 2.5rem;
		margin: 0;
		line-height: 0;
		padding: 15px 0;
		text-indent: 4px;
		letter-spacing: -3px;
	}
}

pre .terminal {
	overflow: hidden;
}

code[class*="language-"],
pre[class*="language-"],
pre code {
	color: #D5D5D5;
	font-family: $code;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.6;
	font-weight: 400;
	tab-size: 2;
	hyphens: none;
	border-radius: $br;
	margin: $margin 0;
	-webkit-font-smoothing: subpixel-antialiased;
}

@include large-breakpoint {
	code[class*="language-"],
	pre[class*="language-"],
	pre code,
	.terminal {
		margin: 2.5rem 0;
	}
}


/* Code blocks */

pre code {
	display: block;
	padding: 1rem;
	overflow: auto;
	background-color: #333;
	box-shadow: 2px 3px 20px rgba(0,0,0,.1);
}

@include small-breakpoint {
	pre code {
		padding: 1.5rem;
	}
}

// Keyboard input
kbd {
	background-color: #f7f7f7;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px white inset;
	color: #333;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4;
	margin: 0 .1em;
	padding: .1em .6em;
	text-shadow: 0 1px 0 white;
	font-size: 15px;
}

 
/* Inline code */

:not(pre) > code[class*="language-"] {
	padding: 2px 4px;
	background: #333;
	border: 1px solid #333; 
}

:not(pre) > code {
	padding: 2px 4px;
	border: none;
	font-family: $code;
	font-weight: 400;
	color: $heading-color;
	border-radius: 0;
	background: rgba(0, 0, 0, 0.06);
}

code[class*=language-css],
code[class*=language-scss],
code[class*=language-less],
code[class*=language-sass] {
	color: #CC99CC;
}

.filename {
	margin-bottom: calc(-1.5rem - 4px);
	font-family: $font-family;
	background: #111;
	padding: .5rem 1rem .75rem;
	font-size: 1rem;
	color: white;
	font-weight: bold;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

@include small-breakpoint {
	.filename {
		margin-bottom: calc(-2.5rem - 4px);
	}
}


/* Syntax Highlighting */

.token.doctype {
	background: #000000;
	color: #fff;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: $comment;
}

.token.namespace {
	opacity: .7;
}

.token.string,
.token.attr-value {
	color: $string;
}

.token.punctuation {
	color: $punctuation;
}

.token.operator {
	color: $operator;
}

.token.variable {
	color: $variable;
}

.token.property {
	color: $property;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.constant,
.token.regex,
.token.inserted {
	color: $number;
}

.token.delimiter {
	background: black;
	color: white;
	padding: 1px 2px;
}

.token.atrule {
	color: $function;
}

.token.keyword {
	color: $keyword;
}

.language-autohotkey .token.selector {
	color: $selector;
}

.token.attr-name {
	color: $attribute;
}

.token.function {
	color: $function;
}

.language-php .token.function {
	color: white;
}

.token.class-name {
	color: $class;
}

.token.deleted,
.language-autohotkey .token.tag {
	color: darken($deleted, 5%);
}

.token.tag {
	color: $tag;
}

.language-autohotkey .token.keyword {
	color: $keyword;
}

.token.selector {
	color: $attribute;
}

.token.italic {
	font-style: italic;
}

pre::-moz-selection,
pre::-moz-selection,
code::-moz-selection,
code::-moz-selection {
	text-shadow: none;
	color: inherit;
	background: rgba(150, 150, 150, .3) !important;
}

pre::selection,
pre::selection,
code::selection,
code::selection {
	text-shadow: none;
	color: inherit;
	background: rgba(150, 150, 150, .3) !important;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	color: inherit;
	background: rgba(150, 150, 150, .3) !important;
}

pre[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
code[class*="language-"] ::selection {
	text-shadow: none;
	color: inherit;
	background: rgba(150, 150, 150, .3) !important;
}