/* Forms */

// Forms Extend
.forms {
	padding: 12px;
	//background: $code-background;
	border-radius: 4px;
	border: 1px solid $border;
	margin: auto auto 6px;
	max-width: 100%;
  font-family: Menlo, 'Roboto Mono', monospace;
  font-size: .85rem;
  transition: ease .2s all; 
}
// Forms Output CSS
input {
	&[type="email"],
	&[type="number"],
	&[type="search"],
	&[type="text"],
	&[type="tel"],
	&[type="url"],
	&[type="password"] {
		@extend .forms;
		&:focus {
			border: 1px solid $border-hover;
			background: #fff;
			outline: 0;
		}
		&:hover {
			border: 1px solid darken(#C6C9CC, 5%);
      //background: darken($code-background, 2%);
		}
	}
}
textarea,
select {
	@extend .forms;
	&:focus {
		border: 1px solid $border-hover;
		background: transparent;
		outline: 0;
	}
	&:hover {
			border: 1px solid darken($border, 5%);
    //background: darken($code-background, 2%);
	}
}
textarea {
	min-height: 100px;
  width: 100%;
}
label,
legend {
	display: block;
	margin: .4rem 0 .2rem;
	font-weight: 600;
	font-size: .9rem;
}
label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}
.scroll {
	overflow-x: scroll;
}
