/* Forms */

// Forms Extend
.forms {
	padding: 12px;
	border-radius: 0;
	border: 1px solid #efefef;
	margin: auto auto 6px;
	max-width: 100%;
	font-family: $font-family;
	font-size: .9rem;
	transition: ease .2s all;
	background: #efefef;
	border-radius: 4px;
}

// Forms Output CSS
input {
	&[type="email"],
	&[type="number"],
	&[type="search"],
	&[type="text"],
	&[type="tel"],
	&[type="url"],
	&[type="password"] {
		@extend .forms;
		&:focus {
			border: 1px solid $border;
			background: #fff;
			outline: 0;
		}
		&:hover {
			border: 1px solid $border;
		}
	}
}

textarea,
select {
	@extend .forms;
	&:focus {
		border: 1px solid $border;
		background: transparent;
		outline: 0;
	}
	&:hover {
		border: 1px solid darken($border, 5%);
	}
}

textarea {
	min-height: 100px;
	width: 100%;
}

label,
legend {
	display: block;
	margin: .4rem 0 .2rem;
	font-weight: 600;
	font-size: .9rem;
}

label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

.scroll {
	overflow-x: scroll;
}

div.wpcf7-mail-sent-ok {
	border: 1px solid #54c381;
	border-left: 12px solid #54c381;
	border-radius: 4px;
	padding: 15px;
	background: #edf9f2;
	color: #214e33;
}

div.wpcf7-validation-error {
	border: 1px solid #FFE168;
	border-left: 12px solid #FFE168;
	border-radius: 4px;
	padding: 15px;
	background: #FFF4CA;
	color: #755D00;
}

.wpcf7-form br {
	display: none !important;
}

span.wpcf7-not-valid-tip {
	color: $one;
	font-size: .9rem;
}

.contact-form {
	padding-top: 3rem;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	input[type=text] {
		width: 100% !important;
	}
}