/* Forms */

// Forms Extend
.forms {
	padding: 1rem 1.25rem;
	border-radius: $br;
	border: 1px solid darken($border, 8%);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	max-width: 100%;
	font-size: 1rem;
	background: white;
	-webkit-appearance: none;
}

// Forms Output CSS
textarea,
select,
[type="email"],
[type="number"],
[type="search"],
[type="text"],
[type="tel"],
[type="url"],
[type="password"] {
	@extend .forms;
	&:hover {
		border: 1px solid darken($border, 12%);
	}
	&:focus,
	&:active {
		border: 1px solid $link-color;
		outline: 0;
	}
}

textarea {
	min-height: 100px;
	width: 100%;
}

label,
legend {
	display: block;
	margin: .5rem 0 .25rem;
	font-weight: 700;
	font-size: 1rem;
	font-family: $heading-family;
}

label>.label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

.scroll {
	overflow-x: scroll;
}

div.wpcf7-mail-sent-ok {
	border: 1px solid $green;
	border-radius: $br;
	padding: 1.5rem;
	background: lighten($green, 15%);
	color: darken($green, 25%);
	font-size: 1rem;
}

div.wpcf7-validation-errors {
	border: 1px solid #FFE168;
	border-radius: $br;
	padding: 1.5rem;
	background: #FFF4CA;
	color: #755D00;
	font-size: 1rem;
}

.wpcf7-form br {
	display: none !important;
}

span.wpcf7-not-valid-tip {
	color: $error;
	font-size: .9rem;
}

.contact-form {
	margin-top: 3rem;
	p {
		margin: 0;
	}
}

@include small-breakpoint {
	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		display: block;
	}
}

#edd_checkout_form_wrap input[type=email], #edd_checkout_form_wrap input[type=password], #edd_checkout_form_wrap input[type=tel], #edd_checkout_form_wrap input[type=text], #edd_checkout_form_wrap textarea {
	padding: 1rem 1.25rem;
}