/* Layout
=============== */


/* Scaffolding */

// HTML base
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
	font-size: $font-size;
}

// Body base 
body {
	color: $font-color;
	font-size: $body-size;
	overflow-x: hidden;
}

// Links
a {
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

p,
ol,
ul,
dl,
blockquote,
table,
.terminal {
	margin-top: 0;
	margin-bottom: $margin;
}

dl {
	dt {
		font-weight: 600;
		margin-bottom: .25rem;
	}
	dd {
		color: lighten($font-color, 20%);
		margin-left: 0;
		margin-bottom: 1.5rem;
	}
}

// Images always responsive
img {
	max-width: 100%;
	height: auto;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
	font-family: $heading-family;
	line-height: 1.2;
	font-weight: 700;
	color: $heading-color;
	margin-bottom: 1rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
	margin-top: 3rem;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.4rem;
	color: lighten($heading-color, 25%);
}

h4 {
	font-size: 1.2rem;
	padding-bottom: .5rem;
	color: lighten($heading-color, 25%);
	border-bottom: 1px solid $border;
}

h5 {
	font-size: 1rem;
	margin-bottom: .25rem;
}

@include small-breakpoint {
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 1.75rem;
	}
	h3 {
		font-size: 1.3rem;
	}
	h4 {
		font-size: 1.2rem;
	}
	h5 {
		font-size: 1.2rem;
	}
}

// Definition list
dt {
	font-weight: 700;
	font-family: $heading-family;
}

mark {
	background: #FFEA96;
}


/* Containers */

.main {
	margin-top: $nav-height;
}

.content {}

.small-container,
.large-container,
.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}

.small-container {
	max-width: $mobile;
}

.container {
	max-width: $tablet;
}

.large-container {
	max-width: $desktop;
}


/* Navigation */

.close-button {
	float: right;
	padding: .8rem .8rem 0 0;
}

a.close {
	color: white;
	&:hover,
	&:active,
	&:focus {
		color: $link-color;
	}
}

.navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: $background;
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	transition: left .3s ease;
	height: $nav-height;
	border-bottom: 1px solid $border;
	transition: transform .3s ease;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
		padding: 0;
		line-height: $nav-height;
	}
	.fa-bars {
		text-align: right;
		line-height: $nav-height;
	}
	.face {
		display: none;
	}
	.current-menu-item a {
		color: $heading-color;
		font-weight: 700;
	}
	.home,
	.search {
		a {
			color: $heading-color;
			cursor: pointer;
			&:hover,
			&:active,
			&:focus {
				color: $link-color;
			}
		}
	}
	.search {
		form {
			display: none;
		}
	}
	a {
		display: block;
		font-size: .9rem;
		font-family: $nav-family;
		font-weight: 400;
		color: rgba(0, 0, 0, .65);
		text-decoration: none;
		text-align: center;
		padding: 0 .75rem;
		&:hover,
		&:active,
		&:focus {
			color: $link-color;
		}
	}
}

.mobile-only {
	display: block;
}

#menu-item-2473,
#menu-item-2689 {
	display: none;
}

@include nav-breakpoint {
	.navigation {
		height: $nav-height;
		a {
			height: $nav-height;
			line-height: $nav-height;
			text-align: center;
			padding: 0 1rem;
			font-size: .9rem;
		}
		i.fa-bars {
			text-align: right;
			line-height: $nav-height;
		}
		.home {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			cursor: pointer;
		}
		.home,
		.search {
			flex: 0 0 256px;
		}
		.search {
			form {
				display: flex;
			}
		}
		.search a {
			text-align: right;
		}
	}
	#menu-item-2473,
	#menu-item-2689 {
		display: inline-block;
	}
	.mobile-only {
		display: none !important;
	}
}


/* Sidebar */

.sidebar-visible .sidebar {
	transform: translate3d(0, 0, 0);
}

@include large-breakpoint {
	.content,
	.navigation {
		transition: transform .3s ease;
	}
	.sidebar-visible .content,
	.sidebar-visible .navigation {
		transform: translate3d(300px, 0, 0);
	}
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	overflow: hidden;
	min-height: 100vh;
	z-index: 3;
	background: $heading-color;
	transform: translate3d(-300px, 0, 0);
	transition: transform .3s ease;
	font-size: .95rem;
	color: rgba(255, 255, 255, .5);
}

.sidebar-header {
	padding: 1.5rem 1.5rem 0;
	h1 {
		margin-top: .5rem;
		color: white;
		font-size: 1.2rem;
		a {
			color: white;
		}
	}
}

.sidebar-content {
	padding: 1.5rem;
}

.sidebar-nav {
	a {
		display: block;
		padding: .4rem 1.5rem;
		color: rgba(255, 255, 255, 1);
		font-size: .95rem;
		&:hover {
			background: lighten($heading-color, 10%);
			text-decoration: none;
		}
	}
}


/* Front */

.banner {
	margin-bottom: 4rem;
}

.my-face {
	width: 75px;
	height: 75px;
	border-radius: 6px;
}


/* Pages */

.page-header {
	text-align: center;
	padding: 1.5rem 0;
	h1 {
		margin: .5rem 0;
		font-weight: 900;
		font-size: 2rem;
	}
}

@include small-breakpoint {
	.page-header {
		padding: 2.5rem 0;
		h1 {
			font-size: 3rem;
		}
	}
}

.landing-header {
	text-align: left;
	padding: 1.5rem 0;
	h1 {
		margin: .5rem 0;
		font-weight: 900;
		font-size: 2rem;
	}
}

@include small-breakpoint {
	.landing-header {
		padding: 2.5rem 0;
		h1 {
			font-size: 3rem;
		}
	}
}


/* Articles */

.single-header {
	text-align: center;
	padding: 1.5rem 0;
	h1 {
		font-weight: 900;
		margin: .5rem 0;
	}
}

@include small-breakpoint {
	.single-header {
		padding: 2.5rem 0;
	}
}

.single-body {
	margin-bottom: 5rem;
}


/* Article Excerpts */

.article-excerpt {
	max-width: $mobile;
	margin: 0 auto;
	padding: 1.5rem 0;
	border-bottom: 1px solid $border;
	h1 {
		margin-top: 0;
		line-height: 1.2;
		font-size: 1.25rem;
	}
	a {
		display: block;
		color: $heading-color;
	}
	p {
		color: lighten($font-color, 20%);
	}
}

.article-image {
	padding-left: 1rem;
	img {
		height: 50px;
		width: 50px;
		min-width: 50px;
	}
}

.article-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.basic-image {
		padding-left: 1rem;
		img {
			width: 50px;
			height: 50px;
			min-width: 50px;
		}
	}
}

@include small-breakpoint {
	.article-excerpt {
		h1 {
			font-size: 1.5rem;
		}
	}
	.article-flex {
		.basic-image {
			img {
				width: 75px;
				height: 75px;
				min-width: 75px;
			}
		}
	}
}

.cell {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}


/* Flex grid */

@include large-breakpoint {
	.grid {
		margin: 0 -1rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.cell {
		display: block;
		width: calc(33.333% - 2rem);
		margin: 1rem;
		border: 1px solid $border;
		position: relative;
		padding: 2rem 2rem 4rem !important;
	}
	.article-excerpt {
		padding: 2rem 0;
	}
	.article-image {
		display: block;
		padding-bottom: 2rem;
		padding-left: 0;
		img {
			margin: 0 auto;
			display: block;
			height: 100px;
			width: 100px;
		}
	}
}

time {
	color: $light-color;
	display: block;
	font-family: $heading-family;
	font-size: .85rem;
	font-weight: 400;
	margin-bottom: .5rem;
}

@include small-breakpoint {
	time {
		font-size: .85rem;
	}
}

blockquote {
	color: $light-color;
	border-left: 8px solid $background;
	font-weight: 400;
	margin: 2rem 0;
	padding-left: 1.5rem;
	font-size: 1.6rem;
	font-family: Georgia, serif;
	p {
		padding: 0;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	cite {
		display: block;
		margin-top: 1rem;
		font-size: .9rem;
		text-align: right;
		font-family: $font-family;
	}
	&.alert,
	&.info,
	&.note,
	&.details {
		font-size: 1.1rem;
		color: $heading-color;
		font-family: $heading-family;
		padding: 1rem;
		border-radius: 6px;
	}
	&.alert {
		background: lighten(#F78D8C, 20%);
		border: 1px solid #F78D8C;
	}
	&.info {
		background: #fff4ca;
		border: 1px solid darken(#FFE26D, 15%);
	}
	&.note {
		background: $background;
		border: 1px solid $border;
	}
	&.details {
		background: lighten($link-color, 46%);
		border: 1px solid lighten($link-color, 15%);
	}
}


/* Footer */

.social-icons {
	padding: 1.5rem 0;
	.fa {
		margin: .25rem;
		&:hover,
		&:active,
		&:focus {
			background: transparent;
		}
	}
	.fa-twitter:hover {
		color: #00aced;
		background: transparent;
	}
	.fa-codepen:hover {
		color: #47CF73;
		background: transparent;
	}
	.fa-stack-overflow:hover {
		color: #F48024;
		background: transparent;
	}
	.fa-github:hover {
		color: #B992E3;
		background: transparent;
	}
	.fa-rss:hover {
		color: #F8981C;
		background: transparent;
	}
}

a.social-icon {
	color: darken($background, 10%);
	&:hover {
		background: transparent;
	}
}


/* MailChimp */

#mc_embed_signup {
	max-width: 400px;
	padding-bottom: 1px;
	label {
		display: inline-block;
	}
	.clear {
		display: inline-block;
	}
}

#mce-EMAIL {
	display: inline-block;
	padding: .5rem 1rem;
	height: 50px;
	font-size: .9rem;
	overflow: hidden;
}

#mc_embed_signup br,
#mc_embed_signup p {
	display: none;
}

#mc-embedded-subscribe {
	margin: 0;
	padding: .95rem 1.5rem;
	height: 50px;
	font-size: .9rem;
	overflow: hidden;
}

.email-container {
	margin: 4rem 0;
}

.section-content {
	margin: 3rem 0;
}

.latest,
.popular {
	margin-bottom: 3rem;
	h1 {
		margin-top: 0;
	}
	time {
		margin-bottom: 1rem;
	}
}

.dark-box {
	background: $heading-color;
	color: rgba(255, 255, 255, .6);
	padding: 2rem 0;
	box-shadow: 1px 8px 25px rgba(0, 0, 0, 0.25);
	h2 {
		color: white;
		margin-top: 0;
	}
}


/* WordPress */

.tags a {
	display: inline-block;
	padding: .25rem .75rem;
	margin: 2px;
	background: $background;
	color: $heading-color;
	border: 1px solid $border;
	border-radius: 6px;
	font-size: .7rem;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		background: darken($background, 5%);
		border: 1px solid darken($border, 5%);
		text-decoration: none;
	}
}

@include large-breakpoint {
	.tags-container {
		position: absolute;
		bottom: 2rem;
		left: 2rem;
	}
}

// Bottom of the page pagination
.pagination {
	max-width: $mobile;
	margin: 40px auto;
	text-align: center;
}

// Comments
#comments {
	line-height: 1.4;
	p {
		font-size: .9rem;
		margin: 0 0 1rem;
	}
	.comment-form-comment {
		margin-bottom: 0;
	}
}

#cancel-comment-reply-link {
	font-size: .8rem;
	display: none;
}

// Date and Time meta data below commentator's name
.comment-meta.commentmetadata,
.comment-notes {
	font-size: .8rem;
	margin-bottom: 1rem;
}

.comment-reply-title {
	small {
		display: block;
	}
	a {
		color: $heading-color;
	}
}

// Author name
.comment-author {
	cite.fn,
	a {
		font-style: normal;
		font-size: 1rem;
		font-weight: 700;
		color: $font-color;
		font-family: $font-family;
	}
}

.comment-meta {
	a {
		color: $light-color;
	}
}

// Comment list
.comment-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

// says:
.says {
	display: none;
}

// Comments and Replies
.comment-reply-title,
.comments-title {
	font-size: 1.4rem;
	margin-bottom: $margin;
	color: $heading-color;
}

// Comment body
.comment-body {
	padding: 1rem 0;
	font-family: $font-family;
	border-bottom: 1px solid $background;
	margin: .5rem 0;
	p {
		padding: 0 0 0 62px;
	}
	blockquote p {
		padding: 0;
	}
	.reply {
		display: none;
	}
}

// Form
.comment-form {
	p {
		padding: 0;
		margin: 0;
	}
}

.children {
	margin-left: 0;
	padding-left: 15px;
	padding-right: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	list-style: none;
}

// Overall comments area
.comments-area {
	margin-top: $margin;
}

.comment-reply-link {
	color: $heading-color;
	font-size: .8rem;
}

.avatar {
	float: left;
	margin-right: 1rem;
	border-radius: 50%;
}

.logged-in-as {
	display: none;
}

.comment-notes {
	padding-bottom: .5rem;
}

.posts-links,
.comment-links {
	padding: 1rem 0;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@include small-breakpoint {
	.posts-links {
		padding: 1.5rem 0;
	}
}

.pagination-left,
.pagination-right {
	float: none;
	margin: 0 auto;
	text-align: center;
	padding-top: 1rem;
}

@include small-breakpoint {
	.pagination-left {
		float: left;
	}
	.pagination-right {
		float: right;
	}
}

.search-form {
	text-align: center;
	margin-bottom: 1rem;
	label {
		display: inline-block;
	}
}

.search-header-form {
	line-height: $nav-height;
	text-align: center;
	display: flex;
	label {
		margin: 0;
		display: inline-block;
	}
	[type="search"] {
		margin: 0;
	}
}

.search-header-submit {
	margin: 0;
	background: transparent;
	padding: 0 1rem;
	font-size: 1.6rem;
	color: $heading-color;
	border: 0;
	box-shadow: none;
	&:hover,
	&:focus,
	&:active {
		border: 0;
		background: 0;
		color: $link-color;
	}
}

.search-submit {
	margin: 0;
	padding: .95rem 1.5rem;
	height: 50px;
	font-size: .9rem;
	overflow: hidden;
}

[type="search"] {
	display: inline-block;
	padding: .5rem 1rem;
	height: 50px;
	font-size: .9rem;
	overflow: hidden;
}


/* Author Background Highlighting For Threaded Comments */

.bypostauthor>div .fn {
	border-bottom-color: #FFEA96;
	box-shadow: inset 0 -8px 0 #FFEA96;
	padding-right: 4px;
}


/* Tables */

// Table expands to full width of containing element
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

thead th,
tbody th {
	border-bottom: 2px solid $border;
}

tfoot th {
	border-top: 2px solid $border;
}

th,
td {
	text-align: left;
	padding: .5rem 1rem;
}

td {
	border-bottom: 1px solid $border;
}

tbody tr:nth-child(odd) td {
	background: #F9F9F9;
}

caption {
	padding: 1rem 0;
	caption-side: bottom;
}

// Container for responsive tables
.contain-table {
	//overflow-x: auto;
	margin-bottom: 2rem;
}

@include small-breakpoint {
	.contain-table {
		width: 100%;
	}
}


/* Helpers */

.lead {
	text-align: left;
	p {
		font-size: 1.4rem;
		line-height: 1.4;
		color: lighten($font-color, 20%);
	}
}

@include small-breakpoint {
	.lead {
		p {
			font-size: 1.6rem;
		}
	}
}

.lead-subtitle {
	font-size: 1.4rem;
	line-height: 1.4;
	color: lighten($font-color, 20%);
}

@include small-breakpoint {
	.lead-subtitle {
		font-size: 1.6rem;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.about-me {
	height: 50vh;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.code-editor {
	background: white;
	height: 300px;
}

.list-of-posts {
	border-top: 1px solid $border;
	padding-top: 2rem;
	margin-top: 2rem;
}

.each-post {
	padding: .5rem 1rem;
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

// Remove the pagination title
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.four-oh-four {
	min-height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	flex-direction: row;
	background: $link-color;
	color: white;
	line-height: 1.4;
	font-family: Courier, monospace;
	-webkit-font-smoothing: subpixel-antialiased;
	h1 span {
		padding: .1rem .5rem;
		background: #eee;
		color: $link-color;
		font-size: 1.6rem;
		font-family: Courier, monospace;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	.bsod-list {
		margin-bottom: .2rem;
	}
}


/* Selections */

::selection {
	background: rgba(255, 245, 20, .8);
	color: #111;
}
