a {

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

#main-content {
  margin-top: 60px;
  padding: 60px 0 0;
  min-height: calc(100vh - 210px);

  h1 {
    text-align: center;
  }
}



@include small-breakpoint {
  #main-content {
    margin-top: $nav-height;
    padding: 80px 0 0;

    h1 {
      text-align: left;
    }
  }
}

.container {
  max-width: $width;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  &:first-of-type {
    margin-top: 0;
  }

  margin: 50px 0;

  >h2 {
    display: flex;
    align-items: center;
  }
}

@include small-breakpoint {
  .section {
    margin: 80px 0;
  }
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 4px;
  border-bottom: 2px solid $light;

  &:hover {
    background: $light;
    text-decoration: none !important;
  }

  &:hover .post-title {
    color: #111;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.post-thumbnail {
  width: 30px;
  margin-right: 1.3rem;

  img {
    display: block;
  }
}

.post-description {
  color: #888;
  margin: 0 2rem 0 1rem;
  flex: 10;
  display: none;
}

.post-title {
  display: block;
  flex: 2;
  font-weight: 500;
  color: #333;

}

a.post-title {
  display: block;
}

a.post-title:hover {
  text-decoration: underline;
  color: $heading-font-color;
}

.post-date {
  color: #888;
  display: none;
}

.view-all {
  background: $light;
  border-radius: 4px;
  padding: .6rem .8rem;
  font-size: .85rem;
  margin-left: 2rem;
  color: $font-color;

  &:hover,
  &:active,
  &:focus {
    color: $heading-font-color;
    background: #dfdfdf;
  }
}

@include small-breakpoint {

  .post-date,
  .post-description {
    display: block;
  }

  .post-title {
    margin-right: 2rem;
  }
}

.icon {
  font-size: 1.6rem;
}

.laconia-icon {
  color: #c96645;
}

.primitive-icon {
  color: #0366EE;
}

.single-header {
  margin-bottom: 60px;
  text-align: center;

  h1 {
    margin: .5rem 0;

  }
}

@include small-breakpoint {
  .single-header {
    text-align: left;
  }
}

.date {
  font-size: .9rem;
  color: #888;
}

.author {
  margin-top: 60px;
  padding: 2rem;
  background: $light;
  border-radius: 4px;
}

.lead {
  font-size: 1.1rem;
}

@include small-breakpoint {
  .lead {
    font-size: 1.3rem;
  }
}

.newsletter-form {

  [type="text"],
  [type="email"] {
    width: 100%;
    max-width: 400px;
    background: white;
    border: 0;
    border: 1px solid $light;

    &:hover {
      border: 1px solid darken($light, 5%);
    }

    &:active,
    &:focus {
      box-shadow: none;
      border: 1px solid darken($light, 12%);
    }
  }
}

.tab-container {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .tab {
    padding: .4rem .8rem;
    background: $light;
    color: $heading-font-color;
    border-radius: $border-radius;
    font-size: .8rem;
    margin-right: .4rem;
    margin-bottom: .4rem;

    &:hover,
    &:active {
      background: darken($light, 5%);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}



.search-enabled {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;

  h1 {
    margin-bottom: 1rem;
  }
}

@include small-breakpoint {
  .search-enabled {
    flex-direction: row;

    h1 {
      margin-bottom: 0;
    }
  }
}

.search-icon {
  position: absolute;
  right: .6rem;
  top: calc(50% - 0.5em);
  /* Keep icon in center of input, regardless of the input height */
}

.search-wrapper {
  position: relative;

  [type="search"] {
    -webkit-appearance: none;
    padding-right: 2rem;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


.search-form {
  [type="search"] {
    width: auto;
    background: $light;
    border: 0;

    &:hover {
      background: darken($light, 5%);
      border: 0;
    }

    &:active,
    &:focus {
      box-shadow: none;
      border: 0;
      color: #111;
      background: #fff6d5;
    }
  }
}

blockquote {
  color: $font-color;
  border-left: 8px solid $background;
  font-weight: 400;
  margin: 2rem 0;
  padding-left: 1.5rem;
  font-size: 1.05rem;
  line-height: 1.6;

  p {
    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  cite {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: right;
    font-family: $font-family;
  }

  &.testimonial {
    padding-left: 0;
    border-left: 0;
  }

  &.alert,
  &.info,
  &.note,
  &.details,
  &.success {
    font-size: 1.05rem;
    color: $heading-font-color;
    font-family: $heading-font-family;
    padding: 1.5rem;
  }

  &.alert {
    background: lighten($secondary-color, 28%);
    border-left: 12px solid $secondary-color;
  }

  &.info {
    background: #fff6d5;
    border-left: 12px solid #F0D461;
  }

  &.success {
    background: lighten($green, 30%);
    border-left: 12px solid $green;
  }

  &.note {
    background: $background;
    border-left: 12px solid $border-color;
  }

  &.details {
    background: lighten($primary-color, 33%);
    border-left: 12px solid lighten($primary-color, 20%);
  }

  code {
    margin: 1rem 0 0;
  }
}

@include small-breakpoint {
  blockquote {
    font-size: 1.4rem;
    line-height: 1.5;

    p {
      font-size: 1.3rem;
    }

    code {
      font-size: .9rem;
      margin: 2rem 0 0;
    }
  }
}

.front-page-social {
  margin-bottom: 1rem;
}

.newsletter {
  margin-top: 60px;
  padding: 2rem;
  background: $light;
  border-radius: 4px;
}

#none-found {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  color: #888;

  strong {
    color: #111;
  }
}

.wpcf7 br {
  display: none !important;
}

// Comments
#comments {
  line-height: 1.4; // Comment body

  .comment {
    border-bottom: 2px solid $border-color;

    &:last-of-type {
      border-bottom: none;
    }
  }

  p {
    font-size: .9rem;
    margin: 0 0 1rem;
  }

  .comment-form-comment {
    margin-bottom: 0;
  }
}

#cancel-comment-reply-link {
  font-size: .8rem;
  display: none;
}

.comment-respond {
  margin-bottom: 3rem;
}

// Date and Time meta data below commentator's name
.comment-meta.commentmetadata,
.comment-notes {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.comment-reply-title {
  small {
    display: block;
  }

  a {
    color: $heading-font-color;
  }
}

// Author name
.comment-author {

  cite.fn,
  a {
    font-style: normal;
    font-size: 1rem;
    font-weight: 700;
    color: $font-color;
    font-family: $heading-font-family;
  }
}

.comment-meta {
  a {
    color: lighten($font-color, 20%);
  }
}

// Comment list
.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// says:
.says {
  display: none;
}

// Comments and Replies
.comment-reply-title,
.comments-title {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  color: $heading-font-color;
}

.comment-body {
  padding: 1rem 0;
  font-family: $font-family;
  margin: .5rem 0;

  blockquote p {
    padding: 0;
  }

  .reply {
    text-align: right;
  }
}

// Form
.comment-form {
  p {
    padding: 0;
    margin: 0;
  }

  input {
    width: auto;
  }

  #wp-comment-cookies-consent {
    float: left;
    margin-right: 10px;
  }
}

.children {
  margin-left: 0;
  padding-left: 15px;
  padding-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  list-style: none;
  background: white;
}

// Overall comments area
.comments-area {
  margin-top: 60px;
  padding: 15px 15px;
}

.comment-reply-link {
  font-size: .8rem;
  color: $heading-font-color;
  padding: .6rem 1rem;
  border-radius: 4px;

  &:hover {
    background: rgba(0, 0, 0, .05);
    color: #111;
  }
}

.avatar {
  float: left;
  margin-right: 1rem;
  border-radius: 50%;
}

.logged-in-as {
  display: none;
}

.comment-notes {
  padding-bottom: .5rem;
}

.posts-links,
.comment-links {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  a {
    color: $heading-font-color;
    font-weight: 700;
    font-size: 1rem;
  }
}

.bypostauthor {
  background: #fff6d5;
  border-left: 12px solid #F0D461;
  padding: 0 1rem;
}

::selection {
  background: rgba(255, 245, 30, .9);
  color: #111;
}