/* Layout
=============== */


/* Scaffolding */

// HTML base
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
	font-size: $font-size;
}

// Body base 
body {
	background: white;
	color: $font-color;
	position: relative;
	font-size: 1.15rem;
}

// Links
a {
	color: $link-color;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		color: darken($link-color, 15%);
		text-decoration: underline;
	}
}

// Images always responsive
img {
	max-width: 100%;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
	font-family: $heading-family;
	line-height: 1.1;
	font-weight: 700;
	letter-spacing: -0.05rem;
	margin: 0 0 .75rem;
	color: $heading-color;
}

h1 {
	font-size: 1.8rem;
	font-weight: 800;
	margin: 0;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
	color: lighten($font-color, 10%);
}

h4 {
	font-size: 1.4rem;
	font-weight: 500;
	color: lighten($font-color, 20%);
}

h5 {
	font-size: 1.2rem;
	font-weight: 400;
	color: lighten($font-color, 25%);
}

p,
ol,
ul,
dl,
blockquote,
table {
	margin: 0 0 2rem;
}

@include small-breakpoint {
	body {
		font-size: 1.2rem;
	}
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 2.2rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	h4 {
		font-size: 1.6rem;
	}
	h5 {
		font-size: 1.4rem;
	}
}

// Definition list
dt {
	font-weight: bold;
}

dd {
	margin-bottom: .5rem;
}


/* Containers */

.main-content {
	margin: 0;
}

@include small-breakpoint {
	.main-content {
		margin: $nav-height 0 0;
	}
}

.small-container,
.large-container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}

.small-container {
	max-width: $tablet;
}

.large-container {
	max-width: $tablet;
}

@include large-breakpoint {
	.large-container {
		max-width: $desktop;
	}
}

.content {
	padding: 1rem 0;
	text-align: center;
}

@include small-breakpoint {
	.content {
		text-align: left;
		padding: 3rem 0;
	}
}


/* Navigation */

.navigation {
	position: static;
	width: 100%;
	border-bottom: 1px solid $border;
	background: white;
	z-index: 2;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	a {
		float: left;
		width: calc(100% / 3);
		display: block;
		height: 50px;
		line-height: 50px;
		font-size: 1rem;
		font-family: $nav-family;
		font-weight: 500;
		padding-left: 20px;
		padding-right: 20px;
		color: #676767;
		text-decoration: none;
		background: white;
		text-align: center;
		&:hover {
			color: $heading-color;
		}
	}
	.face {
		display: inline-block;
		height: 40px;
		width: 40px;
		padding: 4px;
		box-sizing: content-box;
		&::before,
		&::after {
			box-sizing: content-box;
		}
	}
}

@include small-breakpoint {
	.nav-container {
		max-width: $tablet;
		margin-left: auto;
		margin-right: auto;
	}
	.navigation {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: $nav-height;
		background: white;
		border-bottom: 1px solid $border;
		.face {
			height: 50px;
			width: 50px;
		}
		.left {
			position: absolute;
			left: 0;
		}
		.right {
			position: absolute;
			right: 0;
		}
		a {
			text-align: center;
			width: calc(100% / 6);
			border-bottom: 1px solid $border;
			height: $nav-height;
			line-height: $nav-height;
			&:hover {
				color: $heading-color;
			}
		}
	}
}


/* Front Page */


.banner {
	padding: 2rem 0 1rem;
	background: white;
	text-align: left;
	h1 {
		font-size: 2.5rem;
		margin-bottom: .5rem;
	}
	.the-content {
		padding-top: 1rem;
	}
}

@include small-breakpoint {
	.banner {
		padding: 4rem 0 2rem;
		h1 {
			font-size: 3rem;
		}
	}
	.opener {
		margin-right: auto;
		max-width: 650px;
	}
}

.large-heading {
	font-size: 2rem;
}

@include small-breakpoint {
	.large-heading {
		font-size: 2.5rem;
	}
}

.latest-articles,
.more-projects {
	a.article-link {
		background: $light-background;
		transition: all .2s ease;
		margin-bottom: 1rem;
		&:hover {
			box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
		}
	}
	a .article-excerpt {
		border: 0;
		&:hover {
			border: 0;
			box-shadow: none;
		}
	}
}

@include large-breakpoint {
	.latest-articles,
	.more-projects {
		display: flex;
		flex-direction: row;
		a.article-link {
			flex: 1;
			~ a.article-link {
				margin-left: 1rem;
			}
		}
		a .article-excerpt {
			border: 0;
		}
	}
}

.tutorials-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.tutorials-cell {
	display: flex;
	width: 100%;
	height: 150px;
	position: relative;
	overflow: hidden;
	transition: all .2s ease;
	&:hover img {
		transform: translate3d(15px, -15px, 0) scale(.9);
	}
	&:hover h3 {
		transform: translate3d(0, 0, 0);
	}
	img {
		transition: all .2s ease;
		display: block;
		margin: auto;
		max-width: 100%;
		max-height: 100px;
	}
	h3 {
		transition: all .2s ease;
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, .9);
		color: white;
		margin: 0;
		width: 100%;
		text-align: center;
		padding: 20px;
		height: 70px;
		font-family: $heading-family;
		transform: translate3d(0, 70px, 0);
	}
}

@include small-breakpoint {
	.tutorials-cell {
		width: 50%;
		height: 250px;
		img {
			max-height: inherit;
		}
	}
}

@include large-breakpoint {
	.tutorials-cell {
		width: calc(100% / 3);
		height: 300px;
	}
}

#sass-tutorial {
	background: #CD659A;
}

#gulp-tutorial {
	background: #EB4C4C;
}

#bootstrap-tutorial {
	background: #563980;
}

#wordpress-tutorial {
	background: #14749C;
}

#git-tutorial {
	background: #EF4F32;
}

#jekyll-tutorial {
	background: #dedede;
}

#aws-tutorial {
	background: #F7AE41;
}

#apache-tutorial {
	background: white;
}

#grunt-tutorial {
	background: #E48632;
}

.javascript {
	position: relative;
	background: #EFDA4E;
	transition: all .2s ease;
	color: #31332F;
	&:hover {
		//opacity: .9;
	}
	&:hover img {
		transform: translate3d(-15px, -15px, 0) scale(.9);
	}
	img {
		display: none;
		transition: all .2s ease;
		position: absolute;
		bottom: 0;
		right: 0;
		max-height: 185px;
	}
	&.content {
		background: #EFDA4E;
	}
	a.button {
		background: white;
		color: #32322F;
		border: 1px solid transparent;
		&:hover,
		&:focus,
		&:active {
			background: #32322F;
			color: white;
			border: 1px solid #32322F;
		}
	}
}

@include small-breakpoint {
	.javascript {
		height: 300px;
		img {
			display: block
		}
	}
}

/* Articles */

time {
	color: lighten($font-color, 30%);
	display: block;
	font-family: $font-family;
	font-size: 1.1rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

@include small-breakpoint {
	time {
		font-size: 1.3rem;
	}
}

a.article-link {
	display: block;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

a .article-excerpt {
	color: $font-color;
	transition: all .2s ease;
	&:hover,
	&:active,
	&:focus {
		background: $light-background;
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
	}
}

.article-excerpt {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-around;
	padding: .5rem;
	border-bottom: 1px solid $border;
	text-align: center;
	img {
		display: block;
		padding: .5rem;
		width: 75px;
		height: 75px;
		max-width: 75px;
	}
}

@include small-breakpoint {
	.article-excerpt {
		padding: 2rem;
		border-bottom: 0;
		flex-direction: row;
		text-align: left;
		img {
			display: block;
			padding: 1rem;
			width: 150px;
			height: 150px;
			max-width: 150px;
		}
	}
}

@include small-breakpoint {
	.latest-articles .article-excerpt {
		flex-direction: column-reverse;
		text-align: center;
	}
} 

/* Blog index */

.blog-index {
	padding-top: 1rem;
}


/* Single and page */

.single, .page {
	max-width: $desktop;
	margin-left: auto;
	margin-right: auto;
	background: white;
	h1 {
		font-size: 1.8rem;
	}
}

@include small-breakpoint {
	.single, .page {
		padding: 0 2rem;
		h1 {
			font-size: 2.6rem;
		}
	}
}

.single-article-image {
	padding-top: 1.5rem;
	text-align: center;
}

.single-article-header {
	text-align: center;
	padding: 1.5rem 0;
}

@include small-breakpoint {
	.single-article-image {
		padding-top: 3rem;
	}
	.single-article-header {
		padding: 3rem 0;
	}
}

.article-header {
	text-align: center;
	padding: 1.5rem 0;
}

@include small-breakpoint {
	.article-header {
		padding: 3rem 0;
	}
}

.page-header {
	text-align: center;
	padding: 1.5rem 0;
}

@include small-breakpoint {
	.page-header {
		padding: 3rem 0 1.5rem;
	}
}

blockquote {
	color: #4f545a;
	padding-left: 1.5rem;
	border-left: 16px solid $background;
	font-family: $heading-family;
	font-weight: 600;
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: $heading-color;
	}
	pre {
		font-family: $code;
		font-size: 1rem;
		background: rgba(0, 0, 0, .1);
		color: #232323;
		padding: 1rem;
		font-weight: 500;
	}
	p {
		font-size: 1.3rem;
		margin: 0;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	cite {
		display: block;
		margin-top: 1rem;
		font-size: 1.1rem;
		text-align: right;
		font-weight: 400; 
	}
	&.alert,
	&.info,
	&.note,
	&.details {
		font-weight: 400;
		border-radius: 0;
		padding: 1rem;
	}
	&.alert {
		background: #FFECEC;
		border: 1px solid #C6585D;
		color: #8a3d41;
		border-left: 12px solid #C6585D;
	}
	&.info {
		background: #FFF4CA;
		border: 1px solid #FFE168;
		color: #755D00;
		border-left: 12px solid #FFE168;
	}
	&.note {
		background: $background;
		border: 1px solid $border;
		border-left: 12px solid $border;
	}
	&.details {
		background: #f7f9fd;
		border: 1px solid #4075D0;
		color: #335da6;
		border-left: 12px solid #4075D0;
	}
}


/* Footer */

.footer {
	padding: 20px 0;
	text-align: center;
	background: #fff;
	.fa {
		margin: .25rem;
	}
	.fa-twitter:hover {
		color: #00aced;
	}
	.fa-codepen:hover {
		color: #47CF73;
	}
	.fa-stack-overflow:hover {
		color: #F48024;
	}
	.fa-github:hover {
		color: #B992E3;
	}
	.fa-rss:hover {
		color: #F8981C;
	}
}

a.social-icon {
	color: darken($background, 10%);
}

@include small-breakpoint {
	.footer {
		padding: 1.5rem 0;
	}
}


/* WordPress */

.tags-container {
	padding-top: 1rem;
}

.tags a {
	display: inline-block;
	font-family: $code;
	padding: .5rem 1rem;
	margin: 2px;
	background: rgba(0, 0, 0, .05);
	color: #bf616a;
	border-radius: 0;
	font-size: 1rem;
	text-decoration: none;
	-webkit-font-smoothing: subpixel-antialiased;
	&:hover,
	&:focus,
	&:active {
		color: darken(#bf616a, 10%);
		background: rgba(0, 0, 0, .1);
	}
}

// Remove the pagination title
.screen-reader-text {
	display: none;
}

// Bottom of the page pagination
.pagination {
	max-width: $mobile;
	margin: 40px auto;
	text-align: center;
}

#comments {
	padding-top: 2rem;
	line-height: 1.45;
	p {
		font-size: 1rem;
		margin: 0 0 1rem;
	}
}

// Date and Time meta data below commentator's name
.comment-meta.commentmetadata,
.comment-notes {
	font-size: .85rem;
	margin-bottom: 1rem;
}

// Author name
.comment-author {
	cite.fn,
	a {
		font-style: normal;
		font-size: 1.1rem;
		font-weight: 600;
		color: $font-color;
		font-weight: 600;
		font-family: $font-family;
	}
}

.comment-meta {
	a {
		color: $font-color;
	}
}

// Comment list
.comment-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

// says:
.says {
	display: none;
}

// Comments and Replies
.comment-reply-title,
.comments-title {
	font-size: 1.6rem;
	font-family: $heading-family;
	margin-bottom: 1.5rem;
}

// Comment body
.comment-body {
	padding: .5rem 0;
	font-size: .95rem;
	font-family: $font-family;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
	.reply {
		text-align: right;
		font-size: 1rem;
	}
}

@include small-breakpoint {
	.comment-body {
		padding: 1rem .5rem;
	}
}

// Form
.comment-form {
	p {
		margin: 0;
	}
}

.children {
	margin-left: 0;
	padding-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	list-style: none;
}

// Overall comments area
.comments-area {
	margin-top: 1.1rem;
	border-top: 1px solid $border;
}

// Reply
.comment-reply-link {
	@extend .buttons;
	color: white;
	background: $link-color;
	font-size: .9rem;
	border: 1px solid $link-color;
	padding: 5px 15px;
	&:hover,
	&:focus,
	&:active {
		@extend .buttons-hover;
		border: 1px solid $link-color;
		color: $link-color;
		background: white;
	}
}

.avatar {
	float: left;
	margin-right: 1rem;
	border-radius: 50%;
}

.logged-in-as {
	font-family: $heading-family;
	font-size: 1rem;
	padding-bottom: .5rem;
}

.comment-notes {
	padding-bottom: .5rem;
}

.posts-links {
	padding: 0;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@include small-breakpoint {
	.posts-links {
		padding-top: 1rem;
	}
	#comments .posts-links {
		margin-bottom: 1rem;
		padding-top: 0;
	}
}

.pagination-left,
.pagination-right {
	float: none;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
}

@include small-breakpoint {
	.pagination-left {
		float: left;
	}
	.pagination-right {
		float: right;
	}
}

.search-form {
	text-align: center; 
	label {
		display: inline-block;
	}
}


/* Author Background Highlighting For Threaded Comments */

.bypostauthor > div .fn {
	border-bottom-color: #ffeeaa;
	box-shadow: inset 0 -5px 0 #ffeeaa;
}


/* Tables */

// Table expands to full width of containing element
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	max-width: 100%;
}

thead th,
tbody th {
	border-bottom: 2px solid $border;
}

tfoot th {
	border-top: 2px solid $border;
}

th,
td {
	text-align: left;
	padding: .5rem;
}

td {
	border-bottom: 1px solid $border;
}

tbody tr:nth-child(odd) td {
	background: #F9F9F9;
}

caption {
	padding: 1rem 0;
	caption-side: bottom;
}

// Container for responsive tables
.contain-table {
	overflow-x: auto;
}

@include small-breakpoint {
	.contain-table {
		width: 100%;
	}
}


/* Helpers */

.text-center {
	text-align: center;
}

.about-me {
	height: 60vh;
}


/* Flex grid */

@media screen and (min-width: 1100px) {
	.flex-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.flex-column {
		flex: 1;
	}
}

.code-editor {
	background: white;
	height: 300px;
}

/* Selections */

::selection {
	background: rgba(254, 241, 69, .7);
}