/* Layout
=============== */


/* Scaffolding */

// HTML base
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
	font-size: $font-size;
}

// Body base 
body {
	background: white;
	color: $font-color;
	position: relative;
	font-size: 1.15rem;
}

// Links
a {
	color: $link-color;
	text-decoration: none;
}

article {
	a {
		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5 {
		a {
			text-shadow: none;
			background: transparent;
		}
	}
	h2 {
		a {
			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}
	}
}

#comments a:hover {
	text-decoration: underline;
}

// Images always responsive
img {
	max-width: 100%;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
	font-family: $heading-family;
	line-height: 1.1;
	font-weight: 700;
	letter-spacing: -0.05rem;
	margin: 0 0 1rem;
	color: $heading-color;
	a {
		&:hover,
		&:focus,
		&:active {
			background: transparent;
			text-decoration: underline;
		}
	}
}

.article-excerpt h1 {
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 0;
}

h1 {
	font-size: 2rem;
	margin-bottom: .5rem;
}

h2 {
	font-size: 1.6rem;
	a {
		&:hover,
		&:focus,
		&:active {
			color: $link-color;
			text-decoration: underline;
		}
	}
}

h3 {
	font-size: 1.6rem;
	color: $heading-color;
	a {
		&:hover,
		&:focus,
		&:active {
			color: $link-color;
			text-decoration: underline;
		}
	}
}

h4 {
	font-size: 1.4rem;
	font-weight: 600;
	color: #343434;
	margin-bottom: .5rem;
}

h5 {
	font-size: 1.2rem;
	font-weight: 600;
	color: #626262;
	margin-bottom: .5rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
	margin-top: 2.5rem;
}

@include small-breakpoint {
	.article-excerpt h1 {
		font-size: 1.8rem;
	}
	h1 {
		font-size: 2.8rem;
	}
	h2 {
		font-size: 2.2rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	h4 {
		font-size: 1.6rem;
	}
	h5 {
		font-size: 1.4rem;
	}
	h1:not(:first-child),
	h2:not(:first-child),
	h3:not(:first-child) {
		margin-top: 3.5rem;
	}
}

// Definition list
dt {
	font-weight: bold;
}

dd {
	margin-bottom: .5rem;
}

p,
ol,
ul,
dl,
blockquote,
table {
	margin-top: 0;
	margin-bottom: 2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
blockquote,
dl,
ul,
ol,
li,
table,
time,
.terminal,
#comments,
.blurb,
.contain-table,
.article-excerpt,
iframe,
.cp_embed_wrapper,
.posts-links,
.contact-form,
.gist,
.tags-container,
.author,
.name,
.single-article-image {
	max-width: $tablet;
	margin-left: auto;
	margin-right: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
dl,
ul,
ol,
table,
li,
time,
.terminal,
#comments,
.blurb,
.contain-table,
.tags-container,
.author,
.name,
.singler-article-image {
	padding-left: 1rem;
	padding-right: 1rem;
}

ul,
ol {
	padding-left: 2.5rem;
}

li {
	padding-left: .25rem;
}

ul li ul {
	margin-bottom: 0;
}


/* Containers */

.main-content {
	margin: 0;
}

@include small-breakpoint {
	.main-content {
		//margin: $nav-height 0 0;
	}
}

.small-container,
.large-container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: $tablet;
}

.small-container {
	max-width: $tablet;
}

.large-container {
	max-width: $tablet;
}

@include large-breakpoint {
	.large-container {
		max-width: $desktop;
	}
}

.content {
	padding: 1rem 0;
}

@include small-breakpoint {
	.content {
		text-align: left;
		padding: 3rem 0;
	}
}


/* Navigation */

.navigation {
	position: static;
	width: 100%;
	background: #fff;
	z-index: 2;
	text-align: center;
	border-bottom: 1px solid $border;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	ul {
		max-width: none;
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0;
	}
	li {
		padding: 0;
	}
	.current-menu-item a {
		color: $link-color;
		background: transparent;
	}
	a {
		float: left;
		width: calc(100% / 3);
		display: block;
		height: 40px;
		line-height: 40px;
		font-size: .95rem;
		font-family: $nav-family;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.6);
		text-decoration: none;
		text-align: center;
		padding: 0 1rem;
		&:hover,
		&:active,
		&:focus {
			color: $link-color;
			background: transparent;
		}
	}
}

@include small-breakpoint {
	.nav-container {
		max-width: 880px;
		padding: 0 1rem;
		margin-left: auto;
		margin-right: auto;
		height: $nav-height;
	}
	.navigation {
		height: $nav-height;
		border-bottom: 1px solid $border;
		li {
			width: calc(100% / 6);
			display: inline-block;
		}
		a {
			float: none;
			width: auto;
			height: $nav-height;
			line-height: $nav-height;
			text-align: center;
		}
	}
}


/* Front Page */

.banner {
	padding: 2rem 0 1rem;
	h1 {
		font-size: 2.5rem;
		margin-bottom: .5rem;
	}
	.secondary {
		margin-top: 0;
		font-size: 2rem;
	}
}

.callout-image {
	max-width: 150px;
	float: right;
	margin: 0 1rem;
}

@include small-breakpoint {
	.banner {
		padding: 3rem 0 0;
		h1 {
			font-size: 4rem;
		}
		.secondary {
			font-size: 3rem;
		}
	}
	.callout-image {
		max-width: 100%;
		margin: 0 1rem;
	}
	.landing-page {
		padding: 0 2rem;
	}
}

.tutorials-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.tutorials-cell {
	display: flex;
	width: 100%;
	height: 150px;
	position: relative;
	overflow: hidden;
	transition: all .2s ease;
	&:hover img {
		transform: translate3d(15px, -15px, 0) scale(.9);
	}
	&:hover h3 {
		transform: translate3d(0, 0, 0);
	}
	img {
		transition: all .2s ease;
		display: block;
		margin: auto;
		max-width: 100%;
		max-height: 100px;
	}
	h3 {
		transition: all .2s ease;
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, .9);
		color: white;
		margin: 0;
		width: 100%;
		text-align: center;
		padding: 20px;
		height: 70px;
		font-family: $heading-family;
		transform: translate3d(0, 70px, 0);
	}
}

@include small-breakpoint {
	.tutorials-cell {
		width: 50%;
		height: 250px;
		img {
			max-height: inherit;
		}
	}
}

@include large-breakpoint {
	.tutorials-cell {
		width: calc(100% / 3);
		height: 300px;
	}
}

#sass-tutorial {
	background: #CD659A;
}

#gulp-tutorial {
	background: #EB4C4C;
}

#bootstrap-tutorial {
	background: #563980;
}

#wordpress-tutorial {
	background: #14749C;
}

#git-tutorial {
	background: #EF4F32;
}

#jekyll-tutorial {
	background: #dedede;
}

#js-tutorial {
	background: #EFDA4F;
}

#js-tutorial {
	background: #EFDA4F;
}

#apple-tutorial {
	background: #161616;
}

#shell-tutorial {
	background: #323232;
}

#aws-tutorial {
	background: #F7AE41;
}

#lamp-tutorial {
	background: #347DAB;
}

#grunt-tutorial {
	background: #E48632;
}


/* Articles */

time {
	color: lighten($font-color, 30%);
	display: block;
	font-family: $heading-family;
	font-size: .85rem;
	font-weight: 400;
	margin-bottom: .5rem;
}

@include small-breakpoint {
	time {
		font-size: .85rem;
	}
}

.author {
	position: relative;
	padding-left: 60px;
	font-family: $heading-family;
	font-size: .85rem;
	font-weight: 400;
	img {
		position: absolute;
		left: 1rem;
		top: 0;
	}
}

@include small-breakpoint {
	.author {
		margin-top: 1rem;
	}
}

.article-excerpt {
	padding: 1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	text-align: left;
	align-content: space-between;
	h1 {
		margin-top: 0rem !important;
		margin-bottom: .5rem;
		a {
			color: $heading-color;
		}
	}
	img {
		display: block;
		padding: .5rem;
		width: 75px;
		height: 75px;
		max-width: 75px;
	}
	&:last-of-type {
		border-bottom: 0;
	}
	p {
		margin-bottom: .5rem;
	}
	time {
		display: none;
	}
}

@include small-breakpoint {
	.article-excerpt {
		padding: 2rem 0;
		img {
			display: block;
			width: 100px;
			height: 100px;
			max-width: 100px;
			margin: 1rem;
		}
		p {
			display: block;
			margin-bottom: 1rem;
		}
		time {
			display: inline-block;
		}
	}
}


/* Blog index */

.blog-index {
	padding-top: 1rem;
}

@include small-breakpoint {
	.blog-index {
		padding: 1rem 2rem 0;
	}
}

.single-article-image {
	padding-top: 1.5rem;
	text-align: left;
	img {
		width: 75px;
		height: 75px;
	}
}

.single-article-header {
	text-align: left;
	padding: 1.5rem 0;
	h1 {
		margin-top: 1.5rem;
		margin-bottom: 0;
		max-width: 800px !important;
	}
}

.article-header {
	text-align: center;
	padding: 1.5rem 0;
}

@include small-breakpoint {
	.article-header {
		padding: 3rem 0;
	}
	.single-article-image {
		padding-top: 1.5rem;
		img {
			width: 150px;
			height: 150px;
		}
	}
}

.page-header {
	text-align: left;
	padding: 2.5rem 0 1rem;
}

@include small-breakpoint {
	.page-header {
		padding: 3rem 0 1.5rem;
	}
}

blockquote {
	color: #4f545a;
	padding-left: 2rem;
	border-left: 16px solid $background;
	font-weight: 400;
	margin-top: 3rem;
	margin-bottom: 3rem;
	h1,
	h2,
	h3,
	h4,
	h5 {
		padding: 0;
		color: $heading-color;
	}
	pre {
		font-family: $code;
		font-size: 1rem;
		background: rgba(0, 0, 0, .1);
		color: #232323;
		padding: 1rem;
		font-weight: 500;
	}
	p {
		font-size: 1.5rem;
		padding: 0;
		//padding-right: 1rem;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	cite {
		display: block;
		margin-top: 1rem;
		font-size: 1.1rem;
		text-align: right;
		font-weight: 400;
	}
	&.alert,
	&.info,
	&.note,
	&.details {
		font-weight: 400;
		border-radius: 0;
		padding: 1rem;
		font-family: $heading-family;
		margin-top: 2rem;
		margin-bottom: 2rem;
		p {
			font-size: 1.15rem;
		}
		a {
			text-shadow: none;
			background-image: none;
		}
	}
	&.alert {
		background: $alt-color;
		border: 1px solid $alt-color;
		color: #fff;
		:not(pre)>code {
			color: #fff;
		}
	}
	&.info {
		background: #FFEA96;
		border: 1px solid #FFEA96;
		color: #111;
	}
	&.note {
		background: $background;
		border: 1px solid $background;
		color: #111;
	}
	&.details {
		background: $background;
		border: 1px solid $background;
		color: #111;
	}
}


/* Footer */

.footer {
	text-align: center;
	background: #fff;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	.fa {
		margin: .25rem;
		&:hover,
		&:active,
		&:focus {
			background: transparent;
		}
	}
	.fa-twitter:hover {
		color: #00aced;
		background: transparent;
	}
	.fa-codepen:hover {
		color: #47CF73;
		background: transparent;
	}
	.fa-stack-overflow:hover {
		color: #F48024;
		background: transparent;
	}
	.fa-github:hover {
		color: #B992E3;
		background: transparent;
	}
	.fa-rss:hover {
		color: #F8981C;
		background: transparent;
	}
}

a.social-icon {
	color: darken($background, 10%);
	&:hover {
		background: transparent;
	}
}


/* WordPress */

.blurb {
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		vertical-align: middle;
	}
}

.blurb-image {
	vertical-align: middle;
	margin-right: 1rem;
}

.tags-container {
	padding-top: 1rem;
}

.tags-container-page {
	display: inline-block;
}

.tags a {
	display: inline-block;
	font-family: $code;
	padding: .25rem .75rem;
	margin: 2px;
	background: transparent;
	color: #E43557;
	border: 1px solid #E43557;
	border-radius: 30px;
	font-size: .7rem;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		background: #E43557;
		color: white;
		border: 1px solid #E43557;
		text-decoration: none;
	}
}

// Bottom of the page pagination
.pagination {
	max-width: $mobile;
	margin: 40px auto;
	text-align: center;
}

#comments {
	padding-top: 2rem;
	line-height: 1.45;
	p {
		font-size: 1rem;
		margin: 0 0 1rem;
		padding: 0;
	}
	li {
		padding: 0;
	}
	h3 {
		padding: 0;
	}
}

// Date and Time meta data below commentator's name
.comment-meta.commentmetadata,
.comment-notes {
	font-size: .85rem;
	margin-bottom: 1.5rem;
}

.comment-reply-title {
	small {
		display: block;
	}
	a {
		color: $heading-color;
	}
}

// Author name
.comment-author {
	cite.fn,
	a {
		font-style: normal;
		font-size: 1.1rem;
		font-weight: 600;
		color: $font-color;
		font-weight: 600;
		font-family: $font-family;
		&:hover,
		&:active,
		&:focus {
			background: white;
			text-decoration: underline
		}
	}
}

.comment-meta {
	a {
		color: $font-color;
		&:hover,
		&:active,
		&:focus {
			background: white;
			text-decoration: underline;
		}
	}
}

// Comment list
.comment-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

// says:
.says {
	display: none;
}

// Comments and Replies
.comment-reply-title,
.comments-title {
	font-size: 1.6rem;
	font-family: $heading-family;
	margin-bottom: .5rem;
}

// Comment body
.comment-body {
	padding: .5rem 0;
	font-size: .95rem;
	font-family: $font-family;
	margin-bottom: 15px;
	border-bottom: 1px solid $background;
	.reply {
		text-align: right;
		font-size: .9rem;
	}
}

@include small-breakpoint {
	.comment-body {
		padding: 1rem 0;
	}
}

// Form
.comment-form {
	p {
		padding: 0;
		margin: 0;
	}
}

.children {
	margin-left: 0;
	padding-left: 15px;
	padding-right: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	list-style: none;
}

// Overall comments area
.comments-area {
	margin-top: 1.1rem;
	border-top: 1px solid $border;
}

// Reply
.comment-reply-link {
	@extend .buttons;
	color: $link-color;
	background: transparent;
	font-size: .9rem;
	border: 1px solid $link-color;
	padding: 5px 15px;
	&:hover,
	&:focus,
	&:active {
		@extend .buttons-hover;
		border: 1px solid $link-color;
		color: white;
		background: $link-color;
	}
}

.avatar {
	float: left;
	margin-right: 1rem;
	border-radius: 50%;
}

.logged-in-as {
	display: none;
}

.comment-notes {
	padding-bottom: .5rem;
}

.posts-links,
.comment-links {
	padding: 0;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@include small-breakpoint {
	.posts-links {
		padding-top: 1rem;
	}
}

.pagination-left,
.pagination-right {
	float: none;
	margin: 0 auto;
	text-align: center;
	padding-top: 1rem;
}

@include small-breakpoint {
	.pagination-left {
		float: left;
	}
	.pagination-right {
		float: right;
	}
}

.search-form {
	text-align: center;
	label {
		display: inline-block;
	}
}


/* Author Background Highlighting For Threaded Comments */

.bypostauthor > div .fn {
	border-bottom-color: #FFEA96;
	box-shadow: inset 0 -5px 0 #FFEA96;
	padding-right: 4px;
}


/* Tables */

// Table expands to full width of containing element
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

thead th,
tbody th {
	border-bottom: 2px solid $border;
}

tfoot th {
	border-top: 2px solid $border;
}

th,
td {
	text-align: left;
	padding: .5rem 1rem;
}

td {
	border-bottom: 1px solid $border;
}

tbody tr:nth-child(odd) td {
	background: #F9F9F9;
}

caption {
	padding: 1rem 0;
	caption-side: bottom;
}

// Container for responsive tables
.contain-table {
	//overflow-x: auto;
	margin-bottom: 2rem;
}

@include small-breakpoint {
	.contain-table {
		width: 100%;
	}
}


/* Helpers */

.lead-excerpt {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	p {
		font-size: 1.4rem;
		line-height: 1.4;
		color: lighten($font-color, 30%);
	}
}

@include small-breakpoint {
	.lead-excerpt p {
		font-size: 1.6rem;
		font-weight: 500;
	}
}

.lead {
	font-size: 1.4rem;
	line-height: 1.4;
	color: lighten($font-color, 30%);
}

@include small-breakpoint {
	.lead {
		font-size: 1.6rem;
		font-weight: 500;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.about-me {
	height: 50vh;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Flex grid */

@media screen and (min-width: 1100px) {
	.flex-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.flex-column {
		flex: 1;
	}
}

.code-editor {
	background: white;
	height: 300px;
}

.list-of-posts {
	border-top: 1px solid $border;
	padding-top: 2rem;
	margin-top: 2rem;
}

.each-post {
	padding: .5rem 1rem;
	display: flex;
	flex-direction: row;
	align-content: space-between;
}

.links {
	width: 100%;
	a {
		font-family: $heading-family;
		font-weight: 700;
		letter-spacing: -0.03rem;
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 1.2rem;
		color: $heading-color;
		display: block;
		text-align: left;
		&:hover,
		&:active,
		&:focus {
			color: $heading-color;
			text-decoration: underline;
			background: transparent;
		}
	}
}

.thumbs {
	a {
		&:hover,
		&:active,
		&:focus {
			background: transparent;
		}
	}
	img {
		display: block;
		max-width: none;
	}
}

// Remove the pagination title
.screen-reader-text {
	display: none;
}

.four-oh-four {
	display: flex;
	flex-direction: column;
	flex-direction: row;
	background: $link-color;
	color: white;
	line-height: 1.4;
	font-family: Courier, monospace;
	-webkit-font-smoothing: subpixel-antialiased;
	h1 span {
		padding: .1rem .5rem;
		background: #eee;
		color: $link-color;
		font-size: 1.6rem;
		font-family: Courier, monospace;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	.bsod-list {
		margin-bottom: .2rem;
	}
}

@include mid-breakpoint {
	.four-oh-four {
		flex-direction: column;
		min-height: calc(100vh - 110px);
	}
}


/* Selections */

::selection {
	background: rgba(254, 245, 50, .7);
}