/* Navigation
  =============== */

// Container
.nav-container {
    max-width: $large;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.site-navigation {
    height: $nav-height;
    background: $nav-color;
    color: #dedede;
    .site-navigation-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0;
        align-items: center;
        justify-content: space-between;
    }
    .site-navigation-links,
    .site-navigation-brand,
    .site-navigation-search {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        .nav-icon {
            display: none;
            margin-right: 10px;
        }
        a {
            display: flex;
            align-items: center;
            justify-items: center;
            height: 100%;
            color: rgba(255, 255, 255, .7);
            text-decoration: none;
            padding: 0 10px;
            font-size: .9rem;
            white-space: nowrap;
            .nav-icon .fa-coffee {
                color: $yellow;
            }
            &:hover,
            &:active,
            &:focus {
                color: white;
                background: darken($nav-color, 5%);
                .nav-icon {
                    color: $primary-color;
                    .fa-heart {
                        color: $secondary-color;
                    }
                    .fa-comments {
                        color: $green;
                    }
                    .fa-coffee {
                        color: darken($yellow, 10%);
                    }
                }
            }
        }
    }
    .site-navigation-links {
        height: 45px;
        flex-wrap: nowrap;
        align-self: flex-start;
        order: 2;
        grid-column-start: 1;
        grid-column-end: span 2;
        height: 45px;
        text-align: center;
        a {
            justify-content: center;
            flex: 1 1 50%;
        }
    }
    .site-navigation-search {
        form {
            background: lighten($nav-color, 15%);
        }
        flex: 2;
        input {
            background: lighten($nav-color, 15%);
            margin: 0;
            border: 0;
            color: rgba(255, 255, 255, .9);
            height: 100%;
            width: 100%;
            padding: 0 30px;
            border-radius: 0 !important;
            -webkit-appearance: none;
            &:hover {
                background: lighten($nav-color, 18%);
            }
            &:focus,
            &:active {
                background: lighten($nav-color, 22%);
                outline: 0;
                box-shadow: none;
            }
            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgba(255, 255, 255, .7);
                opacity: 1;
                /* Firefox */
            }
        }
        .nav-search {
            width: 100%;
            height: 100%;
        }
    }
    .site-navigation-brand {
        font-weight: 600;
        padding-right: 10px;
        padding-left: 10px;
        height: 45px;
        background: #333;
        a {
            width: 100%;
            font-size: 1.1rem;
            letter-spacing: 0.02rem;
            line-height: 1.1;
            font-family: $heading-font-family;
            padding: 0;
            &:hover {
                background: none;
            }
        }
        .brand-icon {
            height: 20px;
            width: 20px;
            margin-right: 15px;
        }
    }
}

@include small-breakpoint {
    .site-navigation {
        .site-navigation-links,
        .site-navigation-brand,
        .site-navigation-search {
            .nav-icon {
                display: block;
            }
            a {
                justify-content: center;
                font-size: 1.05rem;
            }
        }
        .site-navigation-brand {
            a {
                font-size: 1.2rem;
                justify-content: flex-start;
                padding-left: 30px;
            }
        }
    }
}

@include medium-breakpoint {
    // Container
    .nav-container {
        padding: 0 0 0 $padding;
    }
    .site-navigation {
        .site-navigation-grid {
            grid-template-columns: auto 2fr 250px;
            grid-template-rows: unset;
        }
        .site-navigation-links,
        .site-navigation-brand,
        .site-navigation-search {
            a {
                text-align: center;
                padding: 0 15px;
                font-size: 1.05rem;
            }
        }
        .site-navigation-links {
            order: unset;
            grid-column-start: initial;
            grid-column-end: initial;
            align-self: center;
            flex-wrap: nowrap;
            align-self: auto;
            a {
                height: $nav-height;
                justify-content: center;
            }
        }
        .site-navigation-brand {
            margin-right: 15px;
            height: $nav-height;
            background: $nav-color;
            padding-left: 0;
            a {
                padding: 0;
                font-size: 1.2rem;
            }
        }
        .site-navigation-search {
            height: $nav-height;
            input {
                height: $nav-height;
            }
        }
    }
}

@include large-breakpoint {
    .site-navigation {
        .site-navigation-grid {
            grid-template-columns: auto 2fr 300px;
        }
        .site-navigation-links,
        .site-navigation-brand,
        .site-navigation-search {
            a {
                padding: 0 30px;
                font-size: 1.1rem;
            }
        }
        .site-navigation-links {
            flex-wrap: nowrap;
            align-self: auto;
            a {
                justify-content: none;
                flex: auto;
            }
        }
        .site-navigation-brand {
            margin-right: 30px;
            a {
                font-size: 1.3rem;
                padding: 0;
            }
        }
        .site-navigation-search {
            input {
                height: $nav-height;
            }
        }
    }
}