.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 3;
  width: 100%;
  border-bottom: 2px solid #eee;
  font-size: .85rem;

  .buy {
    color: #111;
  }

  a {
    color: #666;
    padding: 0.5rem .6rem 0.5rem 0;
    border-radius: 4px;
    display: block;
    margin: 0 0.1rem;

    &.nav-icon {
      padding: .5rem .2rem;

      &:hover {
        background: transparent;
      }
    }

    &.donate-link {
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    .donate-icon {
      display: none;
      max-width: 25px;
      height: 25px;
    }
  }

  .nav-container {
    max-width: $width;
    margin: auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .brand {
      font-weight: 600;

      a {
        display: flex;
        align-items: center;
        color: #222;
        padding: 0;
        font-size: .9rem;

        &:hover {
          color: #111;
          background: transparent !important;
        }
      }

      span {
        margin-left: 0.5rem;
      }

      .-icon {
        display: block;
        max-width: 20px;
        height: 20px;
      }
    }

    .extra {
      font-size: .85rem;
      display: flex;
    }

    .links {
      display: flex;
      width: 100%;
      order: 2;

      a {

        &:hover {
          background: #f2f2f2;
          color: #111;
        }
      }
    }
  }
}

@include medium-breakpoint {
  .nav {
    font-size: 1.1rem;
    height: $nav-height;


    .buy {
      margin-left: .8rem;
    }

    .nav-container .brand {
      margin-right: .5rem;
    }

    a {
      padding: 0.8rem 1.1rem;
      font-size: 1.1rem;

      &.nav-icon {
        padding: 0.8rem 0.6rem;
      }

      .donate-icon {
        display: block;
      }

      &.donate-link {
        margin-right: .5rem;
      }
    }

    .nav-container {
      height: $nav-height;

      .links {
        width: auto;
        order: 0;
      }

      .extra {
        font-size: 1.1rem;
      }
    }
  }
}