/* Tables */

th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 2px solid $slab;
	border-right: 2px solid $slab;
	&:last-of-type {
		border-right: 0;
	}
}
.scroll {
	overflow-x: auto;
}