@font-face {
    font-family: MetropolisLight;
    src: url('../fonts/Metropolis-Light.otf');
}
@font-face {
    font-family: Metropolis;
    src: url('../fonts/Metropolis-Regular.otf');
}

@font-face {
    font-family: MetropolisBold;
    src: url('../fonts/Metropolis-Bold.otf');
}