/* Variables
  =============== */


/* Mobile Breakpoints */

$mobile: 600px;
$tablet: 800px;
$desktop: 1200px;

/* Content Font Styling */ 

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #404040;
$font-size: 1rem;
$font-family: 'PT Serif', Georgia, serif;

$line-height: 1.6;
$link-color: #0068FF;
$alt-color: #e43557;

$heading-color: #111;
$heading-family: 'Heebo', -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$nav-family: -apple-system, BlinkMacSystemFont, 'Heebo', Helvetica Neue, Helvetica, Arial, sans-serif;
$button-family: -apple-system, BlinkMacSystemFont, 'Heebo', Helvetica Neue, Helvetica, Arial, sans-serif;

/* Borders */

$border: #e2e2e2;
$background: #efefef;
$light-background: #f2f2f2;

/* Code */

$code: Menlo, 'Roboto Mono', Courier New, monospace;

/* Navigation */

$nav-height: 50px;

/* Variables */

$string: #A8D3A9;
$variable: #F78D8C;
$property: #D5D5D5;
$number: #FCA369;
$operator: #cda869;
$punctuation: #D5D5D5;
$comment: #A9A9A9;
$function: #76D4D6;
$keyword: #ffeead;
$attribute: #FFD479;
$class: #D6ACD6;
$tag: #78AAD6;
$selector: #F7931E;
$deleted: #F6BF26;
$error: #EB4D5C;