/* Global Styling */

$border-radius: 0px;
$slab: #dbdde0;
$slab2: #dbdcdd;

/* Mobile Breakpoints */

$mobile-breakpoint: 550px;
$content-small-width: 800px;
$content-width: 1100px;

/* Content Font Styling */

$font-family: 'Noto Serif',
sans-serif;
$font-size: 1.2em;
$font-color: #3f4348; 
$sub-font-color: #6e7a83;
$accent: #c7254e;

/* Heading Font Styling */

$article-title: 'Open Sans',
sans-serif;
$heading-font-family: 'Open Sans',
sans-serif;
$heading-color: #2f3236;
$button: 'Open Sans', 
sans-serif;

/* Link Styling */

$link-color: #2581DC;
$link-hover-color: #064E93;

/* Code Styling */

$code-background: #f3f3f3; 
$code-font-color: #4f545a;

/* Layout Partials */

$header: 50px;
$alert: #FFEC88;
$border: #C6C9CC;
$border-hover: #576778;