/* Global Styling */

$border-radius: 0;
$slab: #d8d9da;
$slab2: #dbdcdd;

/* Mobile Breakpoints */

$mobile-breakpoint: 550px;
$content-small-width: 800px;
$content-width: 1200px;

/* Content Font Styling */

$font-family: Georgia,
serif;
$font-size: 1.2em;
$font-color: #4f545a;
$sub-font-color: #a7a9ac; 

/* Heading Font Styling */

$article-title: 'Playfair Display', serif;
$heading-font-family: 'Roboto',
sans-serif;

/* Link Styling */

$link-color: #2581DC;
$link-hover-color:  #064E93;

/* Code Styling */

$code-background: #f7f7f7;
$code-font-stack: .9em 'Roboto Mono',
monospace;
$code-font-color: #4B5964;

/* Layout Partials */
