/* Global Styling */

$border-radius: 0px;
$slab: #dbdde0;

/* Mobile Breakpoints */

$mobile-breakpoint: 550px;
$content-small-width: 850px;
$content-width: 1100px;

/* Content Font Styling */

$font-family: 'Source Sans Pro',
sans-serif;
$font-size: 1.25em;
$font-color: #3f4348; 
$sub-font-color: #576778;
$accent: #c7254e;

/* Heading Font Styling */

$article-title: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Source Sans Pro', sans-serif;
$heading-color: #2f3236;
$button: 'Source Sans Pro',  sans-serif;

/* Link Styling */

$link-color: #2581DC;
$link-hover-color: #064E93;

/* Code Styling */

$code-background: #f7f7f7; 
$code-font-color: #4f545a;

/* Layout Partials */

$header: 50px;
$alert: #FFEC88;
$border: #C6C9CC;
$button-border: #536172;
$border-hover: #576778;