/* Projects
=============== */

.portfolio-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 400px;
	background: $light-background;
	padding-top: 1rem;
}

.portfolio-example {
	width: 100%;
	padding-bottom: 1rem;
	img {
		display: block;
		box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
		transition: all .3s ease;
		&:hover,
		&:active,
		&:focus {
			box-shadow: 2px 2px 30px rgba(0, 0, 0, .4);
		}
	}
}

@include small-breakpoint {
	.portfolio-example {
		width: 50%;
		&:nth-of-type(even) {
			padding-left: .5rem;
		}
		&:nth-of-type(odd) {
			padding-right: .5rem;
		}
	}
}