/* Portfolio
=============== */

.portfolio-page {
	.cell {
		text-align: center;
		padding: 0;
		h1 {
			margin-top: 0;
		}
		p {
			margin-bottom: 0;
		}
	}
	.portfolio-thumbnail {
		img {
			margin: 2rem auto;
		}
		img,
		a {
			display: block;
		}
	}
	.portfolio-description {
		padding: 1rem;
	}
}

@include small-breakpoint {
	.portfolio-page .portfolio-description {
		padding: 2rem;
	}
}

.cell.port {
	display: block;
	width: 100%;
	p {
		display: block;
	} 
}

@include small-breakpoint {
	.cell.port {
		display: block;
		flex: 1 1 calc(50% - 1.5rem);
		max-width: 50%;
	}
}

@include mid-breakpoint {
	.cell.port {
		flex: 1 1 calc(33.3333% - 1.5rem);
		max-width: 33%;
	}
}

#projects {
	padding: 3rem 0;
	h1 {
		font-size: 1.4rem;
	}
	p {
		color: $light-font;
	}
}