/* Projects
=============== */

.portfolio-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 400px;
	background: $light-background;
}

.portfolio-example {
	width: 100%;
	padding: 2rem;
	img {
		display: block;
		box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
		transition: all .3s ease;
		&:hover,
		&:active,
		&:focus {
			box-shadow: 2px 2px 30px rgba(0, 0, 0, .4);
		}
	}
}

@include small-breakpoint {
	.portfolio-example {
		width: 50%;
	}
}