/* Projects
=============== */

// Primitive
#primitive {
	background: linear-gradient(to right, #7474BF, #348AC7);
	padding: 60px 0;
	text-align: center;
	h1 {
		color: white;
		font-size: 1.8rem;
		margin: 0;
		font-family: 'Press Start 2P';
	}
	p {
		color: rgba(255, 255, 255, .9);
		font-family: Helvetica, sans-serif;
	}
	.eighties {
		font-family: 'Press Start 2P';
		font-size: .9rem;
		padding-left: 2px;
	}
	a.button-primitive {
		display: inline-block;
		line-height: 1;
		border: 1px solid white;
		border-radius: 4px;
		background: transparent;
		color: #fff;
		font-weight: 600;
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		font-size: 1rem;
		text-transform: uppercase;
		padding: .7rem 1.2rem;
		margin: 0;
		white-space: nowrap;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
		text-decoration: none;
		&:hover,
		&:active,
		&:focus {
			background: white;
			color: #1e6bd6;
		}
	}
}

// New Moon
#new-moon {
	background: #efefef;
	padding: 40px 0;
	text-align: center;
	font-family: 'Roboto', sans-serif !important;
	img {
		margin: -30px 0;
	}
	h1 {
		font-weight: 100;
		font-size: 3rem;
		margin: 0;
		line-height: 1;
		color: #343434;
		font-family: 'Roboto', sans-serif !important;
	}
	p {
		padding-top: 10px;
		font-size: 1.4rem;
		margin: 0;
		color: #63a0c2;
		font-family: 'Roboto', sans-serif !important;
	}
	a.button {
		font-family: 'Roboto', sans-serif !important;
		background: $border;
		color: $font-color;
		border: 1px solid darken($border, 10%);
		margin-top: 2rem;
		&:hover,
		&:active,
		&:focus {
			background: darken($border, 10%);
		}
	}
}

// Ivory
#music {
	padding: 40px 0;
	background: #121314;
	text-align: center;
	h1 {
		font-family: 'Roboto', sans-serif;
		color: RGBA(242, 242, 242, 1.00);
		font-weight: 300;
		letter-spacing: 0.2rem;
		font-size: 2.5rem;
	}
	p {
		font-family: 'Roboto', sans-serif;
	}
	.music-container {
		background: #222326;
		padding: 1rem 1rem 2rem;
		color: rgba(255, 255, 255, .9) !important;
		max-width: 500px;
		margin: 0 auto;
	}
	a.button {
		background: linear-gradient(to top right, RGBA(235, 64, 164, 1), RGBA(253, 198, 108, 1));
		color: white;
		border: 0;
		&:hover,
		&:focus,
		&:active {
			background: white;
			color: RGBA(235, 64, 164, 1);
		}
	}
}

// JS Ref
#jsref {
	background-image: linear-gradient(to top right, #3D4258, #6670A0, #9688B4);
	background-attachment: fixed;
	padding: 40px 0;
	text-align: center;
	font-family: 'Roboto', sans-serif !important;
	.js-container {
		background: #F4F6F7;
		max-width: 1000px;
		margin: 0 auto;
		padding: 1rem 1rem 1.5rem;
		border-left: 60px solid #21252B;
	}
	h1 {
		color: #e06c75;
		font-size: 2.5rem;
		font-weight: 600;
		margin-bottom: 0;
		letter-spacing: -0.1rem;
		font-family: 'Roboto', sans-serif !important;
	}
	p {
		padding: 0 0 .5rem 0;
		font-size: 1.6rem;
		margin: 0;
		font-family: 'Roboto', sans-serif !important;
		font-weight: 300;
	}
}

a.gh-button {
	margin-top: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: bold;
	display: inline-block;
	padding: 0 10px;
	color: #333;
	vertical-align: middle;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	background-color: #eee;
	background-image: linear-gradient(to bottom, #fcfcfc, #eee);
	font-style: normal;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background-color: #ccc;
		border: 1px solid #ccc;
		background-image: linear-gradient(to bottom, #eee, #ddd);
	}
}

a.tw-button {
	margin-top: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: bold;
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	vertical-align: middle;
	cursor: pointer;
	background-color: #1B95E0;
	border: 1px solid #1B95E0;
	border-radius: 3px;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	background-color: #1B95E0;
	font-style: normal;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background-color: darken(#1B95E0, 10%);
		border: 1px solid darken(#1B95E0, 10%);
	}
}

// More
#more {
	text-align: center;
	padding: 40px 0;
	h1 {
		margin-bottom: 1rem;
	}
}

@include small-breakpoint {
	#primitive {
		padding: 80px 0;
		h1 {
			font-size: 3.2rem;
		}
	}
	#new-moon {
		h1 {
			font-size: 5rem;
		}
	}
	#music {
		padding: 80px 0;
	}
	#jsref {
		padding: 80px 0;
	}
	#more {
		padding: 80px 0;
		h1 {
			margin-bottom: 2rem;
			font-size: 3rem;
		}
	}
}