/* Projects
=============== */

@include large-breakpoint {
	#projects {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.projects {
		width: 50%;
	}
}

.projects {
	padding: 3rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Primitive
#primitive {
	background: #1E6BD6;
	text-align: center;
	h1 {
		color: white;
		font-size: 1.8rem;
		margin-top: 0;
		margin-bottom: 1rem;
		font-family: 'Press Start 2P';
	}
	p {
		color: rgba(255, 255, 255, .9);
		font-family: Helvetica Neue, sans-serif;
	}
	.eighties {
		font-family: 'Press Start 2P';
		font-size: .9rem;
		padding-left: 2px;
	}
	a.button-primitive {
		display: inline-block;
		line-height: 1;
		border: 1px solid white;
		border-radius: 40px;
		background: transparent;
		color: #fff;
		font-weight: 400;
		font-size: 1rem;
		font-family: Helvetica Neue, sans-serif;
		padding: .7rem 1.2rem;
		margin: 0;
		white-space: nowrap;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
		text-decoration: none;
		&:hover,
		&:active,
		&:focus {
			background: white;
			color: #1e6bd6;
		}
	}
}

// New Moon
#new-moon {
	background: #efefef;
	text-align: center;
	font-family: 'Roboto', sans-serif !important;
	img {
		margin: -20px 0 0;
		max-width: 80px;
	}
	h1 {
		font-weight: 100;
		font-size: 3rem;
		margin: 0;
		line-height: 1;
		color: #343434;
		font-family: 'Roboto', sans-serif !important;
	}
	p {
		padding-top: 10px;
		font-size: 1.4rem;
		margin: 0;
		color: #63a0c2;
		font-family: 'Roboto', sans-serif !important;
	}
	a.button {
		font-family: 'Roboto', sans-serif !important;
		background: $border;
		color: $font-color;
		border: 1px solid darken($border, 10%);
		margin-top: 2rem;
		&:hover,
		&:active,
		&:focus {
			background: darken($border, 10%);
		}
	}
}

// Ivory
#music {
	background: #121314;
	text-align: center;
	h1 {
		font-family: 'Roboto', sans-serif;
		color: RGBA(242, 242, 242, 1.00);
		font-weight: 300;
		margin-top: 0;
		letter-spacing: 0.2rem;
		font-size: 2.5rem;
		margin-bottom: .5rem;
	}
	p {
		font-family: 'Roboto', sans-serif;
		color: rgba(255, 255, 255, .6) !important;
	}
	a.button {
		background: linear-gradient(to top right, RGBA(235, 64, 164, 1), RGBA(253, 198, 108, 1));
		color: white;
		border: 0;
		border-radius: 40px;
		&:hover,
		&:focus,
		&:active {
			background: white;
			color: RGBA(235, 64, 164, 1);
		}
	}
}

// JS Ref
#jsref {
	background-image: linear-gradient(to top right, #3D4258, #6670A0, #9688B4);
	background-attachment: fixed;
	padding: 40px 0;
	text-align: center;
	font-family: 'Roboto', sans-serif !important;
	h1 {
		color: white;
		font-size: 2rem;
		font-weight: 600;
		margin-bottom: 0;
		letter-spacing: -0.1rem;
		font-family: 'Roboto', sans-serif !important;
	}
	p {
		padding: 0 0 .5rem 0;
		font-size: 1.6rem;
		margin-bottom: 1rem;
		color: rgba(255, 255, 255, .8);
		font-family: 'Roboto', sans-serif !important;
		font-weight: 300;
	}
	code[class*="language-"],
	pre[class*="language-"] {
		color: #ABB2BF;
		background: none;
		font-size: .9rem;
		border-radius: 0;
		font-family: Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.5;
		tab-size: 2;
		hyphens: none;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	pre code {
		padding: 0 2rem;
	}
	/* Code blocks */
	pre[class*="language-"] {
		margin: 0 0 1.5rem;
		overflow: auto;
		border-left: 0;
	}
	:not(pre)>code[class*="language-"],
	pre[class*="language-"],
	code {
		background: #2a2f37;
	}
	/* Inline code */
	:not(pre)>code[class*="language-"] {
		padding: .1rem;
		border-radius: 0;
		white-space: normal;
	}
	:not(pre)>code {
		color: #333;
		font-size: 1rem;
		font-family: Menlo, monospace;
		padding: .1rem .3rem;
		border-radius: 0;
		background: #ebeff1;
		border: 1px solid #d6dee2;
		margin: 0 .1rem;
	}
	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: #6c727e;
	}
	.token.punctuation {
		color: #abb2bf;
	}
	.token.selector,
	.token.tag {
		color: #e06c75;
	}
	.token.property,
	.token.boolean,
	.token.number,
	.token.constant,
	.token.symbol,
	.token.attr-name,
	.token.deleted {
		color: #d19a66;
	}
	.token.string,
	.token.char,
	.token.attr-value,
	.token.builtin,
	.token.inserted {
		color: #98c379;
	}
	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string {
		color: #56b6c2;
	}
	.token.atrule,
	.token.keyword {
		color: #c678dd;
	}
	.token.function {
		color: #61afef;
	}
	.token.regex,
	.token.important,
	.token.variable {
		color: #c678dd;
	}
	.token.important,
	.token.bold {
		font-weight: bold;
	}
	.token.italic {
		font-style: italic;
	}
	.token.entity {
		cursor: help;
	}
	@media (min-width: 1200px) {
		pre code {
			padding: 2rem;
			margin: 0;
			border-left: 0;
		}
	}
}

#balance {
	background: #282C34;
	text-align: center;
	h1 {
		color: white;
		margin-top: 0;
	}
	p {
		font-family: 'Heebo', sans-serif;
		font-weight: 600;
		font-size: 1rem;
		color: #E06C75;
		line-height: 1.1;
	}
	a.button {
		border-radius: 0;
		background: #E5C07B;
		color: #282C34;
		border: 1px solid #E5C07B;
		&:hover,
		&:active,
		&:focus {
			background: transparent;
			color: #E5C07B;
		}
	}
	img {
		max-width: 100px;
	}
}

a.gh-button {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: bold;
	display: inline-block;
	padding: 0 10px;
	color: #333;
	vertical-align: middle;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	background-color: #eee;
	background-image: linear-gradient(to bottom, #fcfcfc, #eee);
	font-style: normal;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background-color: #ccc;
		border: 1px solid #ccc;
		background-image: linear-gradient(to bottom, #eee, #ddd);
	}
}

a.tw-button {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: bold;
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	vertical-align: middle;
	cursor: pointer;
	background-color: #1B95E0;
	border: 1px solid #1B95E0;
	border-radius: 3px;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	background-color: #1B95E0;
	font-style: normal;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background-color: darken(#1B95E0, 10%);
		border: 1px solid darken(#1B95E0, 10%);
	}
}

@include small-breakpoint {
	#primitive,
	#jsref,
	#balance {
		h1 {
			font-size: 2.8rem;
		}
	}
	#balance {
		p {
			font-size: 1rem;
		}
	}
	#new-moon,
	#music {
		h1 {
			font-size: 4rem;
		}
	}
	#new-moon {
		img {
			max-width: 120px;
		}
	}
}
