/* Buttons  */

// Button Extend
.buttons {
	color: #536172;
	display: inline-block;
	padding: 8px 25px;
	text-align: center;
	font-size: .9em;
	line-height: 1.6;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #C6C9CC;
	cursor: pointer;
	font-weight: 300;
	font-family: $button;
	margin: 5px 0;
  box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	transition: all .3s ease;
}
.buttons-hover {
	border-bottom: 0;
	color: #536172;
	background: transparent;
	border: 1px solid #576778;
}
// Button Output
a.button,
.button,
button,
.posts-links a {
	@extend .buttons;
	&:hover,
	&:focus {
		@extend .buttons-hover;
	}
}
// Button Output
a.button-dark {
	display: inline-block;
	padding: 3px 6px;
	background: #343434;
	color: #fede88;
	font-family: 'Menlo', monospace;
	font-weight: 300;
	font-size: .8em;
	-webkit-font-smoothing: subpixel-antialiased;
	&:hover,
	&:focus {
		@extend .buttons-hover;
		background: #232323;
		color: #fede88;
	}
}
// Button Output
a.button-light {
	display: inline-block;
	padding: 3px 6px;
	background: $code-background;
	color: #795da3;
	font-family: 'Menlo', monospace;
	font-weight: 300;
	font-size: .8em;
	-webkit-font-smoothing: subpixel-antialiased;
	&:hover,
	&:focus {
		@extend .buttons-hover;
		color: #795da3;
		//background: darken($code-background, 5%);
	}
}
input {
	&[type="submit"],
	&[type="reset"],
	&[type="button"] {
		@extend .buttons;
		&:hover,
		&:focus {
			@extend .buttons-hover;
		}
	}
}
