/* Buttons  */

// Button Extend
.buttons {
	color: $button-border;
	display: inline-block;
	padding: 8px 25px;
	text-align: center;
	font-size: .9em;
	line-height: 1.6;
	text-decoration: none;
	white-space: nowrap;
	background: transparent;
	border-radius: 4px;
	border: 1px solid $border;
	cursor: pointer;
	font-weight: 600;
	font-family: $button;
	margin: 5px 0;
  box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	transition: all .3s ease;
}
.buttons-hover {
	border-bottom: 0;
	color: $button-border;
	background: transparent;
	border: 1px solid $border-hover;
}
// Button Output
a.button,
.button,
button,
.posts-links a {
	@extend .buttons;
	&:hover,
	&:focus {
		@extend .buttons-hover;
	}
}
input {
	&[type="submit"],
	&[type="reset"],
	&[type="button"] {
		@extend .buttons;
		&:hover,
		&:focus {
			@extend .buttons-hover;
		}
	}
}
