.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.box {
	flex-basis: 49%;
	margin-left: .5%;
	margin-right: .5%;
}
@media screen and (min-width: 800px) {
	.box {
		flex: 1;
	}
}

/* Grid */

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
	._6 {
		flex: 6.6;
	}
	._3 {
		flex: 3.3;
	}
	._75 {
		flex: 7.5;
	}
}
 