/* Grid */

.flex {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .box {
    flex: 1;
  }
  ._75 { 
    flex: 7.5;
  }
  ._25 {
    flex: 2.5;
  }
}