/* Forms */

// Forms Extend
.forms {
	padding: 12px;
	background: $code-background;
	border: 1px solid $code-background;
	border-radius: $border-radius;
	margin: auto auto 6px;
	max-width: 100%;
  font-family: $heading-font-family;
  transition: ease .2s all; 
}
// Forms Output CSS
input {
	&[type="email"],
	&[type="number"],
	&[type="search"],
	&[type="text"],
	&[type="tel"],
	&[type="url"],
	&[type="password"] {
		@extend .forms;
		&:focus {
			border: 1px solid darken($code-background, 15%);
			background: #fff;
			outline: 0;
		}
		&:hover {
			border: 1px solid darken($code-background, 5%);
      //background: darken($code-background, 2%);
		}
	}
}
textarea,
select {
	@extend .forms;
	&:focus {
		border: 1px solid darken($code-background, 15%);
		background: transparent;
		outline: 0;
	}
	&:hover {
		border: 1px solid darken($code-background, 5%);
    //background: darken($code-background, 2%);
	}
}
textarea {
	min-height: 100px;
  width: 100%;
}
label,
legend {
	display: block;
	margin: .4em 0 .2em;
	font-weight: 600;
	font-size: .9em;
}
label > .label-body {
	display: inline-block;
	margin-left: .5em;
	font-weight: normal;
}
.scroll {
	overflow-x: scroll;
}
