.front-page {
	background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
	background-size: 300% 300%;
	-webkit-animation: Background 25s ease infinite;
	-moz-animation: Background 25s ease infinite;
	animation: Background 25s ease infinite;
	position: fixed;
	height: 100%;
	width: 100%;
}
@-webkit-keyframes Background {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-moz-keyframes Background {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes Background {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.full-screen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/triangles.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	/* works with row or column */
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: center;
}
.inner {
	margin-bottom: 50px;
}
.front-header {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 4em;
	letter-spacing: -2px;
	text-align: center;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
	margin: 0;
}
.front-subtitle {
	display: block;
	color: #fff;
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	margin: 0 0 1em;
	font-weight: 300;
	text-transform: uppercase;
}
a.button-line {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.4);
	color: #fff;
	text-align: center;
	font-size: 1.2em;
	padding: 10px 25px;
	text-decoration: none;
	transition: all .5s ease;
	display: inline-block;
	margin-top: 20px;
}
a.button-line:hover {
	border: 1px solid rgba(255, 255, 255, 1);
}
@media screen and (max-width: $mobile-breakpoint) {
	.front-header {
		font-size: 2.8em;
	}
}
.front-social {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-bottom: 2em;
}
.portfolio {
	background: #eee;
	padding-top: 20px;
}
.contain {
	overflow: hidden;
	img {
		overflow: hidden;
		display: inline-block;
		transition: all .3s ease;
		box-shadow: 0 1px 2px 0px rgba(0, 0, 0, .1);
	}
	img:hover {
		transform: scale(1.2);
	}
}
.vertical {
	align-items: center;
}
