nav {
	float: right;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			a {
				display: block;
				padding: 0 20px;
				line-height: $header;
				text-decoration: none;
			}
		}
	}
}
